@import '@/assets/styles/_variables.scss';
@import '@/assets/styles/_mixins.scss';

.auth-dialog {
	width: 616px;
	background: $color_white;
	&-login {
		height: 671px;
	}
	&-register {
		height: 566px;
	}
	&__shadow {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 10;
		width: 100vw;
		height: 100vh;
		background: rgba(0, 0, 0, 0.48);
	}
	&__top {
		width: 100%;
		height: 113px;
		border-bottom: 3px solid #F4F4F4;
		position: relative;
	}
	&__close {
		width: 19px;
		height: 19px;
		position: absolute;
		top: 22px;
		right: 21px;
		cursor: pointer;
	}
	&__tabs {
		grid-column-gap: 54px;
		margin-bottom: -2px;
		&-item {
			width: 156.5px;
			padding-bottom: 15px;
			@include font-ubuntu(700, 20px, 25px);
			color: rgba(0, 0, 0, 0.29);
			cursor: pointer;
			&-active {
				border-bottom: 5px solid $color_green;
				color: $color_black;
			}
		}
	}
	&__title {
		@include font-ubuntu(700, 32px, 25px);
		color: $color_black;
		margin: 67px auto 30px;
		text-align: center;
	}
	&__form {
		grid-row-gap: 19px;
		&-submit {
			grid-row-gap: 30px;
			position: relative;
			&-captcha {
				width: 304px;
				height: 78px;
				background: #F9F9F9;
				border: 1.34317px solid #D3D3D3;
				box-shadow: 0px 0px 5.37269px 1.34317px rgba(0, 0, 0, 0.08);
				border-radius: 4.02952px;
				overflow: hidden;
				&-error {
					position: absolute;
					top: 85px;
					@include font-ubuntu(400, 12px, 12px);
					color: red;
				}
			}
			&-button {
				width: 205px;
				height: 52px;
				background: $color_green;
				border-radius: 5px;
				border: none;
				@include font-ubuntu(400, 14px, 14px);
				text-align: center;
				color: $color_white;
			}
			&-forgot {
				@include font-ubuntu(300, 14px, 16px);
				color: #505050;
			}
		}
	}
}

@media screen and (max-width: 1440px) {
	.auth-dialog {
		width: calc(616 * 100vw / 1440);
		&-login {
			height: calc(671 * 100vw / 1440);
		}
		&-register {
			height: calc(566 * 100vw / 1440);
		}
		&__top {
			height: calc(113 * 100vw / 1440);
			border-bottom: calc(3 * 100vw / 1440) solid #F4F4F4;
		}
		&__close {
			width: calc(19 * 100vw / 1440);
			height: calc(19 * 100vw / 1440);
			top: calc(22 * 100vw / 1440);
			right: calc(21 * 100vw / 1440);
		}
		&__tabs {
			grid-column-gap: calc(54 * 100vw / 1440);
			margin-bottom: calc(-1 * 2 * 100vw / 1440);
			&-item {
				width: calc(156.5 * 100vw / 1440);
				padding-bottom: calc(15 * 100vw / 1440);
				@include font-ubuntu(700, calc(20 * 100vw / 1440), calc(25 * 100vw / 1440));
				&-active {
					border-bottom: calc(5 * 100vw / 1440) solid $color_green;
				}
			}
		}
		&__title {
			@include font-ubuntu(700, calc(32 * 100vw / 1440), calc(25 * 100vw / 1440));
			margin: calc(67 * 100vw / 1440) auto calc(30 * 100vw / 1440);
		}
		&__form {
			grid-row-gap: calc(19 * 100vw / 1440);
			&-submit {
				grid-row-gap: calc(30 * 100vw / 1440);
				&-captcha {
					// width: calc(405.64 * 100vw / 1440);
					// height: calc(102.08 * 100vw / 1440);
					// border: calc(1.34317 * 100vw / 1440) solid #D3D3D3;
					// border-radius: calc(4.02952 * 100vw / 1440);
				}
				&-button {
					width: calc(205 * 100vw / 1440);
					height: calc(52 * 100vw / 1440);
					background: $color_green;
					border-radius: calc(5 * 100vw / 1440);
					@include font-ubuntu(400, calc(14 * 100vw / 1440), calc(14 * 100vw / 1440));
				}
				&-forgot {
					@include font-ubuntu(300, calc(14 * 100vw / 1440), calc(16 * 100vw / 1440));
				}
			}
		}
	}
}

@media screen and (max-width: 414px) {
	.auth-dialog {
		width: calc(280 * 100vw / 320);
		background: $color_white;
		&-login {
			height: calc(489 * 100vw / 320);
		}
		&-register {
			height: calc(425 * 100vw / 320);
		}
		&__top {
			height: calc(87 * 100vw / 320);
			border-bottom: calc(3 * 100vw / 320) solid #F4F4F4;
		}
		&__close {
			@include box(calc(12 * 100vw / 320), calc(12 * 100vw / 320));
			top: calc(13 * 100vw / 320);
			right: calc(12 * 100vw / 320);
		}
		&__tabs {
			grid-column-gap: calc(29 * 100vw / 320);
			margin-bottom: calc(-1 * 2 * 100vw / 320);
			&-item {
				width: calc(108 * 100vw / 320);
				padding-bottom: calc(15 * 100vw / 320);
				@include font-ubuntu(700, calc(16 * 100vw / 320), calc(25 * 100vw / 320));
				&-active {
					border-bottom: calc(5 * 100vw / 320) solid $color_green;
				}
			}
		}
		&__title {
			@include font-ubuntu(700, calc(20 * 100vw / 320), calc(25 * 100vw / 320));
			margin: calc(29 * 100vw / 320) auto calc(20 * 100vw / 320);
		}
		&__form {
			grid-row-gap: calc(17 * 100vw / 320);
			&-submit {
				grid-row-gap: calc(9 * 100vw / 320);
				&-captcha {
					width: 246 * 100vw / 320;
					height: 61 * 100vw / 320;
					border: 1.34317px solid #D3D3D3;
					box-shadow: 0px 0px 5.37269px 1.34317px rgba(0, 0, 0, 0.08);
					border-radius: 4.02952px;
					& > div {
						transform: scale(0.81);
						transform-origin: 0 0;
					}
					&-error {
						position: absolute;
						top: calc(-1 * 15 * 100vw / 320);
						@include font-ubuntu(400, calc(10 * 100vw / 320), calc(10 * 100vw / 320));
						color: red;
					}
				}
				&-button {
					width: calc(246 * 100vw / 320);
					height: calc(52 * 100vw / 320);
					border-radius: calc(5 * 100vw / 320);
					@include font-ubuntu(400, calc(14 * 100vw / 320), calc(14 * 100vw / 320));
				}
				&-forgot {
					@include font-ubuntu(300, calc(14 * 100vw / 320), calc(16 * 100vw / 320));
				}
			}
		}
	}
}

.auth-form {
	width: 100%;
	grid-row-gap: 10px;
	position: relative;
	&__error {
		position: absolute;
		top: -17px;
		@include font-ubuntu(400, 12px, 12px);
		color: red;
	}
	&__field {
		width: 473px;
		height: 52px;
		background: #F4F4F4;
		border-radius: 5px;
		border: none;
		padding: 14px 18px 13px;
		box-sizing: border-box;
		@include font-ubuntu(400, 14px, 25px);
		color: #868686;
		&-error {
			border: 1px solid red!important;
		}
	}
}

@media screen and (max-width: 1440px) {
	.auth-form {
		grid-row-gap: calc(10 * 100vw / 1440);
		&__field {
			width: calc(473 * 100vw / 1440);
			height: calc(52 * 100vw / 1440);
			border-radius: calc(5 * 100vw / 1440);
			padding: calc(14 * 100vw / 1440) calc(18 * 100vw / 1440) calc(13 * 100vw / 1440);
			@include font-ubuntu(400, calc(14 * 100vw / 1440), calc(25 * 100vw / 1440));
		}
	}
}

@media screen and (max-width: 414px) {
	.auth-form {
		grid-row-gap: calc(10 * 100vw / 320);
		&__error {
			top: calc(-1 * 15 * 100vw / 320);
			@include font-ubuntu(400, calc(12 * 100vw / 320), calc(12 * 100vw / 320));
		}
		&__field {
			width: calc(246 * 100vw / 320);
			height: calc(52 * 100vw / 320);
			border-radius: calc(5 * 100vw / 320);
			padding: calc(14 * 100vw / 320) calc(18 * 100vw / 320) calc(13 * 100vw / 320);
			@include font-ubuntu(400, calc(14 * 100vw / 320), calc(25 * 100vw / 320));
		}
	}
}

.info-dialog {
	width: 616px;
	background: $color_white;
	&__top {
		width: 100%;
		height: 63px;
		border-bottom: 3px solid #F4F4F4;
		position: relative;
	}
	&__body {
		margin: 60px 20px;
		text-align: center;
		@include font-ubuntu(400, 18px, 27px);
	}
}

@media screen and (max-width: 1440px) {
	.info-dialog {
		width: calc(616 * 100vw / 1440);
		&__top {
			height: calc(63 * 100vw / 1440);
			border-bottom: calc(3 * 100vw / 1440) solid #F4F4F4;
		}
		&__body {
			margin: calc(60 * 100vw / 1440) calc(20 * 100vw / 1440);
			@include font-ubuntu(400, calc(18 * 100vw / 1440), calc(27 * 100vw / 1440));
		}
	}
}

@media screen and (max-width: 414px) {
	.info-dialog {
		width: calc(280 * 100vw / 320);
		&__top {
			height: calc(38 * 100vw / 320);
		}
		&__body {
			margin: calc(20 * 100vw / 320) calc(20 * 100vw / 320);
			@include font-ubuntu(400, calc(18 * 100vw / 320), calc(27 * 100vw / 320));
		}
	}	
}

.forgot-dialog {
	width: 616px;
	height: 453px;
	background: $color_white;
	position: relative;
	&__title {
		@include font-ubuntu(700, 32px, 25px);
		color: $color_black;
		margin: 88px auto 30px;
		text-align: center;
	}
}

@media screen and (max-width: 1440px) {
	.forgot-dialog {
		width: calc(616 * 100vw / 1440);
		height: calc(453 * 100vw / 1440);
		&__title {
			@include font-ubuntu(700, calc(32 * 100vw / 1440), calc(25 * 100vw / 1440));
			margin: calc(88 * 100vw / 1440) auto calc(30 * 100vw / 1440);
		}
	}
}

@media screen and (max-width: 414px) {
	.forgot-dialog {
		width: calc(280 * 100vw / 320);
		height: calc(321 * 100vw / 320);
		&__title {
			@include font-ubuntu(700, calc(20 * 100vw / 320), calc(25 * 100vw / 320));
			color: $color_black;
			margin: calc(44 * 100vw / 320) auto calc(20 * 100vw / 320);
			text-align: center;
		}
	}
}

.reset-password {
	margin-bottom: 67px;
	&__error {
		margin-bottom: 67px;
	}
}

@media screen and (max-width: 1440px) {
	.reset-password {
		margin-bottom: calc(67 * 100vw / 1440);
		&__error {
			margin-bottom: calc(67 * 100vw / 1440);
		}
	}
}
