@import '@/assets/styles/_variables.scss';
@import '@/assets/styles/_mixins.scss';

.banner {
	width: 100%;
	height: 436px;
	// background-color: $color_green;
	// background-image: url('@/assets/images/banner-mask.png');
	// background-size: 100%;
	border-radius: 30px;
	// padding-top: 80px;
	padding-left: 52px;
	position: relative;
	overflow: hidden;
	&__title {
		max-width: 462px;
		margin-bottom: 14px;
        @include font-ubuntu(500, 48px, 55px);
		color: $color_white;
	}
	&__subtitle {
		max-width: 382px;
		height: 67px; // temp
        @include font-ubuntu(300, 12px, 176.9%);
		color: $color_white;
	}
	&__button {
		position: absolute;
		top: 241px;
		z-index: 3;
		width: 144px;
		height: 41px;
		background: transparent;
		border: 1px solid $color_white;
		border-radius: 8px;
        @include font-ubuntu(500, 12px, 14px);
		color: $color_white;
	}
	&__image {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 2;
		// width: 629px;
		// height: 351px;
		// right: 50px;
		// bottom: 58px;
		// object-fit: cover;
	}
	&__nav {
		position: absolute;
		z-index: 3;
		width: 149px;
		height: 37px;
		left: 52px;
		bottom: 37px;
		grid-column-gap: 13px;
		&-dots {
			grid-column-gap: 7px;
			&-item {
				width: 7px;
				height: 7px;
				border-radius: 100%;
				cursor: pointer;
				background: rgba(255, 255, 255, 0.32);
				&-active {
					background: $color_white;
				}
			}
		}
	}
}

@media screen and (max-width: 1440px) {
	.banner {
		height: calc(436 * 100vw / 1440);
		border-radius: calc(30 * 100vw / 1440);
		// padding-top: calc(80 * 100vw / 1440);
		padding-left: calc(52 * 100vw / 1440);
		&__title {
			max-width: calc(462 * 100vw / 1440);
			margin-bottom: calc(14 * 100vw / 1440);
	        @include font-ubuntu(500, calc(48 * 100vw / 1440), calc(55 * 100vw / 1440));
		}
		&__subtitle {
			max-width: calc(382 * 100vw / 1440);
			height: calc(67 * 100vw / 1440); // temp
	        @include font-ubuntu(300, calc(12 * 100vw / 1440), 176.9%);
		}
		&__button {
			top: calc(241 * 100vw / 1440);
			width: calc(144 * 100vw / 1440);
			height: calc(41 * 100vw / 1440);
			border-radius: calc(8 * 100vw / 1440);
	        @include font-ubuntu(500, calc(12 * 100vw / 1440), calc(14 * 100vw / 1440));
		}
		&__image {
			// position: absolute;
			// width: calc(629 * 100vw / 1440);
			// height: calc(351 * 100vw / 1440);
			// right: calc(50 * 100vw / 1440);
			// bottom: calc(58 * 100vw / 1440);
		}
		&__nav {
			position: absolute;
			width: calc(149 * 100vw / 1440);
			height: calc(37 * 100vw / 1440);
			left: calc(52 * 100vw / 1440);
			bottom: calc(37 * 100vw / 1440);
			grid-column-gap: calc(13 * 100vw / 1440);
			&-dots {
				grid-column-gap: calc(7 * 100vw / 1440);
				&-item {
					width: calc(7 * 100vw / 1440);
					height: calc(7 * 100vw / 1440);
					border-radius: 100%;
				}
			}
		}
	}
}

@media screen and (max-width: 992px) {
	.banner {
		height: 362px;
		// background-image: url('@/assets/images/banner-mask-768.png');
		border-radius: 30px;
		// padding-top: 33px;
		padding-left: 38px;
		&__title {
			max-width: 316px;
			margin-bottom: 13px;
	        @include font-ubuntu(500, 36px, 41px);
		}
		&__subtitle {
			max-width: 308px;
			height: 67px; // temp
	        @include font-ubuntu(300, 12px, 176.9%);
		}
		&__button {
			top: 220px;
			width: 144px;
			height: 41px;
			border-radius: 8px;
	        @include font-ubuntu(500, 12px, 14px);
			margin-top: 25px;
		}
		&__image {
			// width: 405px;
			// height: 225px;
			// right: 25px;
			// bottom: 67px;
		}
		&__nav {
			width: 149px;
			height: 37px;
			left: 38px;
			bottom: 39px;
			grid-column-gap: 13px;
			&-dots {
				grid-column-gap: 7px;
				&-item {
					width: 7px;
					height: 7px;
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.banner {
		height: calc(362 * 100vw / 768);
		border-radius: calc(30 * 100vw / 768);
		// padding-top: calc(33 * 100vw / 768);
		padding-left: calc(38 * 100vw / 768);
		&__title {
			max-width: calc(316 * 100vw / 768);
			margin-bottom: calc(13 * 100vw / 768);
	        @include font-ubuntu(500, calc(36 * 100vw / 768), calc(41 * 100vw / 768));
		}
		&__subtitle {
			max-width: calc(308 * 100vw / 768);
			height: calc(67 * 100vw / 768); // temp
	        @include font-ubuntu(300, calc(12 * 100vw / 768), 176.9%);
		}
		&__button {
			top: calc(220 * 100vw / 768);
			width: calc(144 * 100vw / 768);
			height: calc(41 * 100vw / 768);
			border-radius: calc(8 * 100vw / 768);
	        @include font-ubuntu(500, calc(12 * 100vw / 768), calc(14 * 100vw / 768));
			margin-top: calc(25 * 100vw / 768);
		}
		&__image {
			// width: calc(405 * 100vw / 768);
			// height: calc(225 * 100vw / 768);
			// right: calc(25 * 100vw / 768);
			// bottom: calc(67 * 100vw / 768);
		}
		&__nav {
			width: calc(149 * 100vw / 768);
			height: calc(37 * 100vw / 768);
			left: calc(38 * 100vw / 768);
			bottom: calc(39 * 100vw / 768);
			grid-column-gap: calc(13 * 100vw / 768);
			&-dots {
				grid-column-gap: calc(7 * 100vw / 768);
				&-item {
					width: calc(7 * 100vw / 768);
					height: calc(7 * 100vw / 768);
				}
			}
		}
	}
}

@media screen and (max-width: 414px) {
	.banner {
		height: 216px;
		// background-image: url('@/assets/images/banner-mask-320.png');
		border-radius: 5px;
		// padding-top: 20px;
		padding-left: 11px;
		&__title {
			max-width: 113px;
			margin-bottom: 8px;
	        @include font-ubuntu(500, 12px, 14px);
		}
		&__subtitle {
			max-width: 143px;
			height: 67px; // temp
	        @include font-ubuntu(300, 8px, 160.4%);
		}
		&__button {
			top: 116px;
			width: 116px;
			height: 33px;
	        @include font-ubuntu(500, 10px, 11px);
			margin-top: -7px;
		}
		&__image {
			// width: 145.07px;
			// height: 80.73px;
			// right: 7.93px;
			// bottom: 91.27px;
		}
		&__nav {
			position: absolute;
			width: 116.78px;
			height: 29px;
			left: 82.11px;
			bottom: 18px;
			grid-column-gap: 10.19px;
			&-dots {
				grid-column-gap: 5.49px;
				&-item {
					width: 5.49px;
					height: 5.49px;
				}
			}
		}
	}
}
