@import '@/assets/styles/_variables.scss';
@import '@/assets/styles/_mixins.scss';

.blog {
	&__title {
		margin-bottom: 23px;
	}
	&__wrap {
		grid-column-gap: 20px;
	}
	&__list {
		width: 940px;
		margin-bottom: 88px;
		&-grid {
			width: 100%;
			grid-column-gap: 20px;
			grid-row-gap: 14px;
		}
		&-item {
			box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.12);
		}
		&-pagination {
			margin-top: 44px;
		}
		&-showmore {
			margin-top: 31px;
			margin-bottom: 0;
		}
	}
	&__sidebar {
		grid-row-gap: 19px;
		margin-bottom: 88px;
		&-inblog {
			width: 240px;
		}
		&-inarticle {
			width: 320px;
		}
	}
	&__search {
		width: 100%;
		height: 89px;
		background: #EFEFEF;
		border-radius: 8px;
		padding: 17px 13px 13px;
		grid-row-gap: 6px;
		&-title {
			@include font-ubuntu(500, 16px, 18px);
			color: $color_black;
		}
		&-field {
			width: 214px;
			height: 35px;
			background: $color_white;
			border-radius: 2px;
			@include font-ubuntu(400, 12px, 144.4%);
			color: $color_black;
			padding: 9px 14px;
			box-sizing: border-box;
			border: none;
			outline: none;
			box-shadow: none;
		}
	}
	&__last {
		width: 100%;
		background: #EFEFEF;
		border-radius: 8px;
		padding: 26px 22px 19px;
		&-title {
			@include font-ubuntu(500, 20px, 23px);
			color: $color_black;
		}
		&-list {
			margin-top: 15px;
			grid-row-gap: 20px;
			&-item {
				grid-row-gap: 11px;
				padding-bottom: 20px;
				&:not(:last-child) {
					border-bottom: 1px solid #D2D2D2;				
				}
				&-title {
					@include font-ubuntu(400, 14px, 144.4%);
					color: $color_black;
				}
				&-date {
					@include font-ubuntu(300, 12px, 144.4%);
					color: $color_black;
				}
			}
		}
	}
	&__categories {
		width: 100%;
		background: #EFEFEF;
		border-radius: 8px;
		padding: 26px 22px 20px;
		&-title {
			@include font-ubuntu(500, 20px, 23px);
			color: $color_black;
		}
		&-list {
			margin-top: 20px;
			grid-row-gap: 20px;
			&-item {
				@include font-ubuntu(400, 14px, 144.4%);
				color: $color_black;
				cursor: pointer;
				&:not(:last-child) {
					border-bottom: 1px solid #D2D2D2;
					padding-bottom: 20px;
				}
			}
		}
	}
}

.article {
	&__wrap {
		width: 100%;
		position: relative;
		grid-column-gap: 20px;
	}
	&__main {
		width: 860px;
	}
	&__date {
		position: absolute;
		width: 68px;
		height: 64px;
		top: 25px;
		left: 25px;
		background: $color_green;
		color: $color_white;
		&-day {
			@include font-ubuntu(400, 24px, 28px);
		}
		&-month {
			@include font-ubuntu(400, 14px, 16px);
		}
	}
	&__image {
		width: 100%;
	}
	&__title {
		margin-top: 22px;
		margin-bottom: 22px;
	}
	&__content {
		width: 100%;
		& h1 {
			@include font-ubuntu(500, 26px, 30px);
		}
		& h2 {
			@include font-ubuntu(500, 20px, 23px);
		}
		& p {
			@include font-gilroy(400, 16px, 21px);
			color: #272727;
			// display: flex;
			// grid-column-gap: 40.61px;
		}
		& ul {
			padding: 0;
			list-style: none;
			& li {
				@include font-gilroy(400, 16px, 21px);
				color: #272727;
			    background-image: url('@/assets/images/list-marker-green.png');
			    background-repeat: no-repeat;
			    background-position: center left;
			    padding-left: 23px;
			}
		}
		& ol {
			padding: 0;
			list-style: none;
   			counter-reset: item;
			& li {
				@include font-gilroy(400, 16px, 21px);
				color: #272727;
				counter-increment: item;
				&:before {
					margin-right: 10px;
					content: "0" counter(item) ".";
					@include font-gilroy(700, 16px, 21px);
					color: #39BC64;
				}
			}
		}
	}
	&__social {
		justify-content: space-between;
		width: 100%;
		margin-top: 47px;
		margin-bottom: 77px;
		height: 65px;
		background: #F4F4F4;
		border-radius: 7px;
		padding-left: 31px;
		padding-right: 25px;
		&-text {
			@include font-ubuntu(500, 20px, 23px);			
		}
		&-icons {
			grid-column-gap: 15px;
		}
		&-icon {
			@include box(40px, 40px);
			cursor: pointer;
		}
	}
}

@media screen and (max-width: 1440px) {
	.blog {
		&__title {
			margin-bottom: calc(23 * 100vw / 1440);
		}
		&__wrap {
			grid-column-gap: calc(20 * 100vw / 1440);
		}
		&__list {
			width: calc(940 * 100vw / 1440);
			margin-bottom: calc(88 * 100vw / 1440);
			&-grid {
				grid-column-gap: calc(20 * 100vw / 1440);
				grid-row-gap: calc(14 * 100vw / 1440);
			}
			&-pagination {
				margin-top: calc(44 * 100vw / 1440);
			}
			&-showmore {
				margin-top: calc(31 * 100vw / 1440);
			}
		}
		&__sidebar {
			grid-row-gap: calc(19 * 100vw / 1440);
			margin-bottom: calc(88 * 100vw / 1440);
			&-inblog {
				width: calc(240 * 100vw / 1440);
			}
			&-inarticle {
				width: calc(320 * 100vw / 1440);
			}
		}
		&__search {
			height: calc(89 * 100vw / 1440);
			border-radius: calc(8 * 100vw / 1440);
			padding: calc(17 * 100vw / 1440) calc(13 * 100vw / 1440) calc(13 * 100vw / 1440);
			grid-row-gap: calc(6 * 100vw / 1440);
			&-title {
				@include font-ubuntu(500, calc(16 * 100vw / 1440), calc(18 * 100vw / 1440));
			}
			&-field {
				width: calc(214 * 100vw / 1440);
				height: calc(35 * 100vw / 1440);
				border-radius: calc(2 * 100vw / 1440);
				@include font-ubuntu(400, calc(12 * 100vw / 1440), 144.4%);
				padding: calc(9 * 100vw / 1440) calc(14 * 100vw / 1440);
			}
		}
		&__last {
			border-radius: calc(8 * 100vw / 1440);
			padding: calc(26 * 100vw / 1440) calc(22 * 100vw / 1440) calc(19 * 100vw / 1440);
			&-title {
				@include font-ubuntu(500, calc(20 * 100vw / 1440), calc(23 * 100vw / 1440));
			}
			&-list {
				margin-top: calc(15 * 100vw / 1440);
				grid-row-gap: calc(20 * 100vw / 1440);
				&-item {
					grid-row-gap: calc(11 * 100vw / 1440);
					padding-bottom: calc(20 * 100vw / 1440);
					&-title {
						@include font-ubuntu(400, calc(14 * 100vw / 1440), 144.4%);
					}
					&-date {
						@include font-ubuntu(300, calc(12 * 100vw / 1440), 144.4%);
					}
				}
			}
		}
		&__categories {
			border-radius: calc(8 * 100vw / 1440);
			padding: calc(26 * 100vw / 1440) calc(22 * 100vw / 1440) calc(20 * 100vw / 1440);
			&-title {
				@include font-ubuntu(500, calc(20 * 100vw / 1440), calc(23 * 100vw / 1440));
			}
			&-list {
				margin-top: calc(20 * 100vw / 1440);
				grid-row-gap: calc(20 * 100vw / 1440);
				&-item {
					@include font-ubuntu(400, calc(14 * 100vw / 1440), 144.4%);
					&:not(:last-child) {
						padding-bottom: calc(20 * 100vw / 1440);
					}
				}
			}
		}
	}

	.article {
		&__main {
			width: calc(860 * 100vw / 1440);
		}
		&__date {
			width: calc(68 * 100vw / 1440);
			height: calc(64 * 100vw / 1440);
			top: calc(25 * 100vw / 1440);
			left: calc(25 * 100vw / 1440);
			&-day {
				@include font-ubuntu(400, calc(24 * 100vw / 1440), calc(28 * 100vw / 1440));
			}
			&-month {
				@include font-ubuntu(400, calc(14 * 100vw / 1440), calc(16 * 100vw / 1440));
			}
		}
		&__title {
			margin-top: calc(22 * 100vw / 1440);
			margin-bottom: calc(22 * 100vw / 1440);
		}
		&__content {
			& h1 {
				@include font-ubuntu(500, calc(26 * 100vw / 1440), calc(30 * 100vw / 1440));
			}
			& h2 {
				@include font-ubuntu(500, calc(20 * 100vw / 1440), calc(23 * 100vw / 1440));
			}
			& p {
				@include font-gilroy(400, calc(16 * 100vw / 1440), calc(21 * 100vw / 1440));
				grid-column-gap: calc(40.61 * 100vw / 1440);
			}
			& ul {
				& li {
					@include font-gilroy(400, calc(16 * 100vw / 1440), calc(21 * 100vw / 1440));
				    padding-left: calc(23 * 100vw / 1440);
				}
			}
			& ol {
				& li {
					@include font-gilroy(400, calc(16 * 100vw / 1440), calc(21 * 100vw / 1440));
					&:before {
						margin-right: calc(10 * 100vw / 1440);
						@include font-gilroy(700, calc(16 * 100vw / 1440), calc(21 * 100vw / 1440));
					}
				}
			}
		}
		&__social {
			margin-top: calc(47 * 100vw / 1440);
			margin-bottom: calc(77 * 100vw / 1440);
			height: calc(65 * 100vw / 1440);
			border-radius: calc(7 * 100vw / 1440);
			padding-left: calc(31 * 100vw / 1440);
			padding-right: calc(25 * 100vw / 1440);
			&-text {
				@include font-ubuntu(500, calc(20 * 100vw / 1440), calc(23 * 100vw / 1440));			
			}
			&-icons {
				grid-column-gap: calc(15 * 100vw / 1440);
			}
			&-icon {
				@include box(calc(40 * 100vw / 1440), calc(40 * 100vw / 1440));
			}
		}
	}
}

@media screen and (max-width: 992px) {
	.blog {
		&__title {
			margin-bottom: 23px;
		}
		&__wrap {
			flex-direction: column;
			grid-column-gap: 20px;
		}
		&__list {
			width: 688px;
			margin-bottom: 88px;
			&-grid {
				grid-column-gap: 20px;
				grid-row-gap: 14px;
			}
			&-pagination {
				margin-top: 44px;
			}
			&-showmore {
				margin-top: 31px;
				margin-bottom: 0;
			}
		}
		&__sidebar {
			width: 100%;
			grid-row-gap: 19px;
			margin-bottom: 88px;
		}
		&__search {
			height: 89px;
			border-radius: 8px;
			padding: 17px 13px 13px;
			grid-row-gap: 6px;
			&-title {
				@include font-ubuntu(500, 16px, 18px);
			}
			&-field {
				width: 662px;
				height: 35px;
				border-radius: 2px;
				@include font-ubuntu(400, 12px, 144.4%);
				padding: 9px 14px;
			}
		}
		&__last {
			border-radius: 8px;
			padding: 26px 22px 19px;
			&-title {
				@include font-ubuntu(500, 20px, 23px);
			}
			&-list {
				margin-top: 15px;
				grid-row-gap: 20px;
				&-item {
					grid-row-gap: 11px;
					padding-bottom: 20px;
					&-title {
						@include font-ubuntu(400, 14px, 144.4%);
					}
					&-date {
						@include font-ubuntu(300, 12px, 144.4%);
					}
				}
			}
		}
		&__categories {
			border-radius: 8px;
			padding: 26px 22px 20px;
			&-title {
				@include font-ubuntu(500, 20px, 23px);
			}
			&-list {
				margin-top: 20px;
				grid-row-gap: 20px;
				&-item {
					@include font-ubuntu(400, 14px, 144.4%);
					&:not(:last-child) {
						padding-bottom: 20px;
					}
				}
			}
		}
	}

	.article {
		&__wrap {
			flex-direction: column;
			grid-row-gap: 20px;
		}
		&__main {
			width: 100%;
		}
		&__date {
			width: 68px;
			height: 64px;
			top: 25px;
			left: 25px;
			&-day {
				@include font-ubuntu(400, 24px, 28px);
			}
			&-month {
				@include font-ubuntu(400, 14px, 16px);
			}
		}
		&__title {
			margin-top: 22px;
			margin-bottom: 22px;
		}
		&__content {
			& h1 {
				@include font-ubuntu(500, 26px, 30px);
			}
			& h2 {
				@include font-ubuntu(500, 20px, 23px);
			}
			& p {
				@include font-gilroy(400, 16px, 21px);
			}
			& ul {
				& li {
					@include font-gilroy(400, 16px, 21px);
				    padding-left: 23px;
				}
			}
			& ol {
				& li {
					@include font-gilroy(400, 16px, 21px);
					&:before {
						margin-right: 10px;
						@include font-gilroy(700, 16px, 21px);
					}
				}
			}
		}
		&__social {
			margin-top: 47px;
			margin-bottom: 27px;
			height: 65px;
			border-radius: 7px;
			padding-left: 31px;
			padding-right: 25px;
			&-text {
				@include font-ubuntu(500, 20px, 23px);			
			}
			&-icons {
				grid-column-gap: 15px;
			}
			&-icon {
				@include box(40px, 40px);
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.blog {
		&__title {
			margin-bottom: calc(23 * 100vw / 768);
		}
		&__wrap {
			grid-column-gap: calc(20 * 100vw / 768);
		}
		&__list {
			// width: calc(1135 * 100vw / 768);
			width: 100%;
			margin-bottom: calc(88 * 100vw / 768);
			&-grid {
				grid-column-gap: calc(20 * 100vw / 768);
				grid-row-gap: calc(14 * 100vw / 768);
			}
			&-pagination {
				margin-top: calc(44 * 100vw / 768);
			}
			&-showmore {
				margin-top: calc(31 * 100vw / 768);
			}
		}
		&__sidebar {
			grid-row-gap: calc(19 * 100vw / 768);
			margin-bottom: calc(88 * 100vw / 768);
		}
		&__search {
			height: calc(89 * 100vw / 768);
			border-radius: calc(8 * 100vw / 768);
			padding: calc(17 * 100vw / 768) calc(13 * 100vw / 768) calc(13 * 100vw / 768);
			grid-row-gap: calc(6 * 100vw / 768);
			&-title {
				@include font-ubuntu(500, calc(16 * 100vw / 768), calc(18 * 100vw / 768));
			}
			&-field {
				width: calc(662 * 100vw / 768);
				height: calc(35 * 100vw / 768);
				border-radius: calc(2 * 100vw / 768);
				@include font-ubuntu(400, calc(12 * 100vw / 768), 144.4%);
				padding: calc(9 * 100vw / 768) calc(14 * 100vw / 768);
			}
		}
		&__last {
			border-radius: calc(8 * 100vw / 768);
			padding: calc(26 * 100vw / 768) calc(22 * 100vw / 768) calc(19 * 100vw / 768);
			&-title {
				@include font-ubuntu(500, calc(20 * 100vw / 768), calc(23 * 100vw / 768));
			}
			&-list {
				margin-top: calc(15 * 100vw / 768);
				grid-row-gap: calc(20 * 100vw / 768);
				&-item {
					grid-row-gap: calc(11 * 100vw / 768);
					padding-bottom: calc(20 * 100vw / 768);
					&-title {
						@include font-ubuntu(400, calc(14 * 100vw / 768), 144.4%);
					}
					&-date {
						@include font-ubuntu(300, calc(12 * 100vw / 768), 144.4%);
					}
				}
			}
		}
		&__categories {
			border-radius: calc(8 * 100vw / 768);
			padding: calc(26 * 100vw / 768) calc(22 * 100vw / 768) calc(20 * 100vw / 768);
			&-title {
				@include font-ubuntu(500, calc(20 * 100vw / 768), calc(23 * 100vw / 768));
			}
			&-list {
				margin-top: calc(20 * 100vw / 768);
				grid-row-gap: calc(20 * 100vw / 768);
				&-item {
					@include font-ubuntu(400, calc(14 * 100vw / 768), 144.4%);
					&:not(:last-child) {
						padding-bottom: calc(20 * 100vw / 768);
					}
				}
			}
		}
	}

	.article {
		&__wrap {
			grid-row-gap: calc(20 * 100vw / 768);
		}
		&__date {
			width: calc(68 * 100vw / 768);
			height: calc(64 * 100vw / 768);
			top: calc(25 * 100vw / 768);
			left: calc(25 * 100vw / 768);
			&-day {
				@include font-ubuntu(400, calc(24 * 100vw / 768), calc(28 * 100vw / 768));
			}
			&-month {
				@include font-ubuntu(400, calc(14 * 100vw / 768), calc(16 * 100vw / 768));
			}
		}
		&__title {
			margin-top: calc(22 * 100vw / 768);
			margin-bottom: calc(22 * 100vw / 768);
		}
		&__content {
			& h1 {
				@include font-ubuntu(500, calc(26 * 100vw / 768), calc(30 * 100vw / 768));
			}
			& h2 {
				@include font-ubuntu(500, calc(20 * 100vw / 768), calc(23 * 100vw / 768));
			}
			& p {
				@include font-gilroy(400, calc(16 * 100vw / 768), calc(21 * 100vw / 768));
				grid-column-gap: calc(40.61 * 100vw / 768);
			}
			& ul {
				& li {
					@include font-gilroy(400, calc(16 * 100vw / 768), calc(21 * 100vw / 768));
				    padding-left: calc(23 * 100vw / 768);
				}
			}
			& ol {
				& li {
					@include font-gilroy(400, calc(16 * 100vw / 768), calc(21 * 100vw / 768));
					&:before {
						margin-right: calc(10 * 100vw / 768);
						@include font-gilroy(700, calc(16 * 100vw / 768), calc(21 * 100vw / 768));
					}
				}
			}
		}
		&__social {
			margin-top: calc(47 * 100vw / 768);
			margin-bottom: calc(27 * 100vw / 768);
			height: calc(65 * 100vw / 768);
			border-radius: calc(7 * 100vw / 768);
			padding-left: calc(31 * 100vw / 768);
			padding-right: calc(25 * 100vw / 768);
			&-text {
				@include font-ubuntu(500, calc(20 * 100vw / 768), calc(23 * 100vw / 768));			
			}
			&-icons {
				grid-column-gap: calc(15 * 100vw / 768);
			}
			&-icon {
				@include box(calc(40 * 100vw / 768), calc(40 * 100vw / 768));
			}
		}
	}
}

@media screen and (max-width: 414px) {
	.blog {
		&__title {
			margin-bottom: calc(20 * 100vw / 320);
		}
		&__wrap {

		}
		&__list {
			// width: calc(1135 * 100vw / 320);
			width: 100%;
			margin-bottom: calc(33.65 * 100vw / 320);
			&-grid {
				grid-column-gap: calc(18 * 100vw / 320);
				grid-row-gap: calc(14 * 100vw / 320);
			}
			&-pagination {
				margin-top: calc(27 * 100vw / 320);
			}
			&-showmore {
				margin-top: calc(27.85 * 100vw / 320);
			}
		}
		&__sidebar {
			width: calc(280 * 100vw / 320);
			grid-row-gap: calc(10 * 100vw / 320);
			margin-bottom: calc(33.65 * 100vw / 320);
		}
		&__search {
			height: calc(89 * 100vw / 320);
			border-radius: calc(8 * 100vw / 320);
			padding: calc(17 * 100vw / 320) calc(13 * 100vw / 320) calc(13 * 100vw / 320);
			grid-row-gap: calc(6 * 100vw / 320);
			&-title {
				@include font-ubuntu(500, calc(14 * 100vw / 320), calc(16 * 100vw / 320));
			}
			&-field {
				width: calc(254 * 100vw / 320);
				height: calc(35 * 100vw / 320);
				border-radius: calc(2 * 100vw / 320);
				@include font-ubuntu(400, calc(12 * 100vw / 320), 144.4%);
				padding: calc(9 * 100vw / 320) calc(14 * 100vw / 320);
			}
		}
		&__last {
			border-radius: calc(8 * 100vw / 320);
			padding: calc(26 * 100vw / 320) calc(22 * 100vw / 320) calc(19 * 100vw / 320);
			&-title {
				@include font-ubuntu(500, calc(16 * 100vw / 320), calc(18 * 100vw / 320));
			}
			&-list {
				margin-top: calc(20 * 100vw / 320);
				grid-row-gap: calc(20 * 100vw / 320);
				&-item {
					grid-row-gap: calc(11 * 100vw / 320);
					padding-bottom: calc(20 * 100vw / 320);
					&-title {
						@include font-ubuntu(400, calc(14 * 100vw / 320), 144.4%);
					}
					&-date {
						@include font-ubuntu(300, calc(12 * 100vw / 320), 144.4%);
					}
				}
			}
		}
		&__categories {
			border-radius: calc(8 * 100vw / 320);
			padding: calc(26 * 100vw / 320) calc(22 * 100vw / 320) calc(20 * 100vw / 320);
			&-title {
				@include font-ubuntu(500, calc(16 * 100vw / 320), calc(18 * 100vw / 320));
			}
			&-list {
				margin-top: calc(20 * 100vw / 320);
				grid-row-gap: calc(20 * 100vw / 320);
				&-item {
					@include font-ubuntu(400, calc(14 * 100vw / 320), 144.4%);
					&:not(:last-child) {
						padding-bottom: calc(20 * 100vw / 320);
					}
				}
			}
		}
	}

	.article {
		&__wrap {
			grid-row-gap: calc(20 * 100vw / 320);
		}
		&__main {
			width: calc(280 * 100vw / 320);
		}
		&__date {
			width: calc(68 * 100vw / 320);
			height: calc(64 * 100vw / 320);
			top: calc(25 * 100vw / 320);
			left: calc(25 * 100vw / 320);
			&-day {
				@include font-ubuntu(400, calc(24 * 100vw / 320), calc(28 * 100vw / 320));
			}
			&-month {
				@include font-ubuntu(400, calc(14 * 100vw / 320), calc(16 * 100vw / 320));
			}
		}
		&__title {
			margin-top: calc(22 * 100vw / 320);
			margin-bottom: calc(22 * 100vw / 320);
		}
		&__content {
			& h1 {
				@include font-ubuntu(500, calc(18 * 100vw / 320), calc(21 * 100vw / 320));
			}
			& h2 {
				@include font-ubuntu(500, calc(16 * 100vw / 320), calc(18 * 100vw / 320));
			}
			& p {
				@include font-gilroy(400, calc(12 * 100vw / 320), calc(22 * 100vw / 320));
				grid-column-gap: calc(40.61 * 100vw / 320);
			}
			& ul {
				& li {
					@include font-gilroy(400, calc(12 * 100vw / 320), calc(21 * 100vw / 320));
				    padding-left: calc(23 * 100vw / 320);
				}
			}
			& ol {
				& li {
					@include font-gilroy(400, calc(12 * 100vw / 320), calc(21 * 100vw / 320));
					&:before {
						margin-right: calc(10 * 100vw / 320);
						@include font-gilroy(700, calc(16 * 100vw / 320), calc(21 * 100vw / 320));
					}
				}
			}
		}
		&__social {
			flex-direction: column;
			justify-content: center;
			grid-row-gap: calc(11 * 100vw / 320);
			margin-top: calc(27 * 100vw / 320);
			margin-bottom: calc(7 * 100vw / 320);
			height: calc(119 * 100vw / 320);
			border-radius: calc(7 * 100vw / 320);
			padding: 0;
			&-text {
				width: calc(179 * 100vw / 320);
				@include font-ubuntu(500, calc(14 * 100vw / 320), calc(16 * 100vw / 320));
				text-align: center;	
			}
			&-icons {
				grid-column-gap: calc(12 * 100vw / 320);
			}
			&-icon {
				@include box(calc(33 * 100vw / 320), calc(33 * 100vw / 320));
			}
		}
	}

}
