@import '@/assets/styles/_variables.scss';
@import '@/assets/styles/_mixins.scss';

/* @font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: normal;
    src: local('Ubuntu Regular'), url('@/assets/fonts/Ubuntu-R.woff') format('woff');
}

@font-face {
    font-family: 'Ubuntu Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Ubuntu Italic'), url('@/assets/fonts/Ubuntu-RI.woff') format('woff');
}

@font-face {
    font-family: 'Ubuntu Light';
    font-style: normal;
    font-weight: normal;
    src: local('Ubuntu Light'), url('@/assets/fonts/Ubuntu-L.woff') format('woff');
}

@font-face {
    font-family: 'Ubuntu Light Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Ubuntu Light Italic'), url('@/assets/fonts/Ubuntu-LI.woff') format('woff');
}

@font-face {
    font-family: 'Ubuntu Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Ubuntu Medium'), url('@/assets/fonts/Ubuntu-M.woff') format('woff');
}

@font-face {
    font-family: 'Ubuntu Medium Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Ubuntu Medium Italic'), url('@/assets/fonts/Ubuntu-MI.woff') format('woff');
}

@font-face {
    font-family: 'Ubuntu Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Ubuntu Bold'), url('@/assets/fonts/Ubuntu-B.woff') format('woff');
}

@font-face {
    font-family: 'Ubuntu Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Ubuntu Bold Italic'), url('@/assets/fonts/Ubuntu-BI.woff') format('woff');
}

@font-face {
    font-family: 'Ubuntu Condensed Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Ubuntu Condensed Regular'), url('@/assets/fonts/Ubuntu-C.woff') format('woff');
} */

@font-face {
    font-family: 'Circe';
    font-style: normal;
    font-weight: normal;
    src: local('Circe'), url('@/assets/fonts/CRC55.woff') format('woff');
}

@font-face {
    font-family: 'Circe Extra Light';
    font-style: normal;
    font-weight: normal;
    src: local('Circe Extra Light'), url('@/assets/fonts/CRC25.woff') format('woff');
}

@font-face {
	font-family: 'Circe Light';
	font-style: normal;
	font-weight: normal;
	src: local('Circe Light'), url('@/assets/fonts/CRC35.woff') format('woff');
}

@font-face {
    font-family: 'Circe Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Circe Bold'), url('@/assets/fonts/CRC65.woff') format('woff');
}

@font-face {
    font-family: 'Gilroy';
    src: url('@/assets/fonts/Gilroy/Gilroy-Regular.eot');
    src: local('Gilroy Regular'), local('Gilroy-Regular'),
        url('@/assets/fonts/Gilroy/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
        url('@/assets/fonts/Gilroy/Gilroy-Regular.woff2') format('woff2'),
        url('@/assets/fonts/Gilroy/Gilroy-Regular.woff') format('woff'),
        url('@/assets/fonts/Gilroy/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('@/assets/fonts/Gilroy/Gilroy-ExtraboldItalic.eot');
    src: local('Gilroy Extrabold Italic'), local('Gilroy-ExtraboldItalic'),
        url('@/assets/fonts/Gilroy/Gilroy-ExtraboldItalic.eot?#iefix') format('embedded-opentype'),
        url('@/assets/fonts/Gilroy/Gilroy-ExtraboldItalic.woff2') format('woff2'),
        url('@/assets/fonts/Gilroy/Gilroy-ExtraboldItalic.woff') format('woff'),
        url('@/assets/fonts/Gilroy/Gilroy-ExtraboldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('@/assets/fonts/Gilroy/Gilroy-Bold.eot');
    src: local('Gilroy Bold'), local('Gilroy-Bold'),
        url('@/assets/fonts/Gilroy/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
        url('@/assets/fonts/Gilroy/Gilroy-Bold.woff2') format('woff2'),
        url('@/assets/fonts/Gilroy/Gilroy-Bold.woff') format('woff'),
        url('@/assets/fonts/Gilroy/Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('@/assets/fonts/Gilroy/Gilroy-Black.eot');
    src: local('Gilroy Black'), local('Gilroy-Black'),
        url('@/assets/fonts/Gilroy/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
        url('@/assets/fonts/Gilroy/Gilroy-Black.woff2') format('woff2'),
        url('@/assets/fonts/Gilroy/Gilroy-Black.woff') format('woff'),
        url('@/assets/fonts/Gilroy/Gilroy-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('@/assets/fonts/Gilroy/Gilroy-Light.eot');
    src: local('Gilroy Light'), local('Gilroy-Light'),
        url('@/assets/fonts/Gilroy/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
        url('@/assets/fonts/Gilroy/Gilroy-Light.woff2') format('woff2'),
        url('@/assets/fonts/Gilroy/Gilroy-Light.woff') format('woff'),
        url('@/assets/fonts/Gilroy/Gilroy-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('@/assets/fonts/Gilroy/Gilroy-Semibold.eot');
    src: local('Gilroy Semibold'), local('Gilroy-Semibold'),
        url('@/assets/fonts/Gilroy/Gilroy-Semibold.eot?#iefix') format('embedded-opentype'),
        url('@/assets/fonts/Gilroy/Gilroy-Semibold.woff2') format('woff2'),
        url('@/assets/fonts/Gilroy/Gilroy-Semibold.woff') format('woff'),
        url('@/assets/fonts/Gilroy/Gilroy-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('@/assets/fonts/Gilroy/Gilroy-Medium.eot');
    src: local('Gilroy Medium'), local('Gilroy-Medium'),
        url('@/assets/fonts/Gilroy/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
        url('@/assets/fonts/Gilroy/Gilroy-Medium.woff2') format('woff2'),
        url('@/assets/fonts/Gilroy/Gilroy-Medium.woff') format('woff'),
        url('@/assets/fonts/Gilroy/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('@/assets/fonts/Gilroy/Gilroy-MediumItalic.eot');
    src: local('Gilroy Medium Italic'), local('Gilroy-MediumItalic'),
        url('@/assets/fonts/Gilroy/Gilroy-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('@/assets/fonts/Gilroy/Gilroy-MediumItalic.woff2') format('woff2'),
        url('@/assets/fonts/Gilroy/Gilroy-MediumItalic.woff') format('woff'),
        url('@/assets/fonts/Gilroy/Gilroy-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('@/assets/fonts/Gilroy/Gilroy-BlackItalic.eot');
    src: local('Gilroy Black Italic'), local('Gilroy-BlackItalic'),
        url('@/assets/fonts/Gilroy/Gilroy-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('@/assets/fonts/Gilroy/Gilroy-BlackItalic.woff2') format('woff2'),
        url('@/assets/fonts/Gilroy/Gilroy-BlackItalic.woff') format('woff'),
        url('@/assets/fonts/Gilroy/Gilroy-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('@/assets/fonts/Gilroy/Gilroy-UltraLight.eot');
    src: local('Gilroy UltraLight'), local('Gilroy-UltraLight'),
        url('@/assets/fonts/Gilroy/Gilroy-UltraLight.eot?#iefix') format('embedded-opentype'),
        url('@/assets/fonts/Gilroy/Gilroy-UltraLight.woff2') format('woff2'),
        url('@/assets/fonts/Gilroy/Gilroy-UltraLight.woff') format('woff'),
        url('@/assets/fonts/Gilroy/Gilroy-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('@/assets/fonts/Gilroy/Gilroy-RegularItalic.eot');
    src: local('Gilroy Regular Italic'), local('Gilroy-RegularItalic'),
        url('@/assets/fonts/Gilroy/Gilroy-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('@/assets/fonts/Gilroy/Gilroy-RegularItalic.woff2') format('woff2'),
        url('@/assets/fonts/Gilroy/Gilroy-RegularItalic.woff') format('woff'),
        url('@/assets/fonts/Gilroy/Gilroy-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('@/assets/fonts/Gilroy/Gilroy-SemiboldItalic.eot');
    src: local('Gilroy Semibold Italic'), local('Gilroy-SemiboldItalic'),
        url('@/assets/fonts/Gilroy/Gilroy-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
        url('@/assets/fonts/Gilroy/Gilroy-SemiboldItalic.woff2') format('woff2'),
        url('@/assets/fonts/Gilroy/Gilroy-SemiboldItalic.woff') format('woff'),
        url('@/assets/fonts/Gilroy/Gilroy-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('@/assets/fonts/Gilroy/Gilroy-HeavyItalic.eot');
    src: local('Gilroy Heavy Italic'), local('Gilroy-HeavyItalic'),
        url('@/assets/fonts/Gilroy/Gilroy-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('@/assets/fonts/Gilroy/Gilroy-HeavyItalic.woff2') format('woff2'),
        url('@/assets/fonts/Gilroy/Gilroy-HeavyItalic.woff') format('woff'),
        url('@/assets/fonts/Gilroy/Gilroy-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('@/assets/fonts/Gilroy/Gilroy-Extrabold.eot');
    src: local('Gilroy Extrabold'), local('Gilroy-Extrabold'),
        url('@/assets/fonts/Gilroy/Gilroy-Extrabold.eot?#iefix') format('embedded-opentype'),
        url('@/assets/fonts/Gilroy/Gilroy-Extrabold.woff2') format('woff2'),
        url('@/assets/fonts/Gilroy/Gilroy-Extrabold.woff') format('woff'),
        url('@/assets/fonts/Gilroy/Gilroy-Extrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('@/assets/fonts/Gilroy/Gilroy-BoldItalic.eot');
    src: local('Gilroy Bold Italic'), local('Gilroy-BoldItalic'),
        url('@/assets/fonts/Gilroy/Gilroy-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('@/assets/fonts/Gilroy/Gilroy-BoldItalic.woff2') format('woff2'),
        url('@/assets/fonts/Gilroy/Gilroy-BoldItalic.woff') format('woff'),
        url('@/assets/fonts/Gilroy/Gilroy-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('@/assets/fonts/Gilroy/Gilroy-UltraLightItalic.eot');
    src: local('Gilroy UltraLight Italic'), local('Gilroy-UltraLightItalic'),
        url('@/assets/fonts/Gilroy/Gilroy-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('@/assets/fonts/Gilroy/Gilroy-UltraLightItalic.woff2') format('woff2'),
        url('@/assets/fonts/Gilroy/Gilroy-UltraLightItalic.woff') format('woff'),
        url('@/assets/fonts/Gilroy/Gilroy-UltraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('@/assets/fonts/Gilroy/Gilroy-LightItalic.eot');
    src: local('Gilroy Light Italic'), local('Gilroy-LightItalic'),
        url('@/assets/fonts/Gilroy/Gilroy-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('@/assets/fonts/Gilroy/Gilroy-LightItalic.woff2') format('woff2'),
        url('@/assets/fonts/Gilroy/Gilroy-LightItalic.woff') format('woff'),
        url('@/assets/fonts/Gilroy/Gilroy-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('@/assets/fonts/Gilroy/Gilroy-Heavy.eot');
    src: local('Gilroy Heavy'), local('Gilroy-Heavy'),
        url('@/assets/fonts/Gilroy/Gilroy-Heavy.eot?#iefix') format('embedded-opentype'),
        url('@/assets/fonts/Gilroy/Gilroy-Heavy.woff2') format('woff2'),
        url('@/assets/fonts/Gilroy/Gilroy-Heavy.woff') format('woff'),
        url('@/assets/fonts/Gilroy/Gilroy-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('@/assets/fonts/Gilroy/Gilroy-Thin.eot');
    src: local('Gilroy Thin'), local('Gilroy-Thin'),
        url('@/assets/fonts/Gilroy/Gilroy-Thin.eot?#iefix') format('embedded-opentype'),
        url('@/assets/fonts/Gilroy/Gilroy-Thin.woff2') format('woff2'),
        url('@/assets/fonts/Gilroy/Gilroy-Thin.woff') format('woff'),
        url('@/assets/fonts/Gilroy/Gilroy-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('@/assets/fonts/Gilroy/Gilroy-ThinItalic.eot');
    src: local('Gilroy Thin Italic'), local('Gilroy-ThinItalic'),
        url('@/assets/fonts/Gilroy/Gilroy-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('@/assets/fonts/Gilroy/Gilroy-ThinItalic.woff2') format('woff2'),
        url('@/assets/fonts/Gilroy/Gilroy-ThinItalic.woff') format('woff'),
        url('@/assets/fonts/Gilroy/Gilroy-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

div {
	box-sizing: border-box;
}

a, button {
	cursor: pointer;
}

a {
	text-decoration: none;
}

button {
	box-sizing: border-box;
	padding: 0;
	box-shadow: none;
}

input:focus, input:active {
	border: none!important;
	outline: none!important;
}

.d-flex {
	display: flex;
	// justify-content: flex-start;
	align-items: flex-start;
}

.flex-column {
	flex-direction: column!important;
}

.flex-wrap {
	flex-wrap: wrap;
}

.justify-content-center {
	justify-content: center!important;
}

.justify-content-between {
	justify-content: space-between!important;
}

.justify-content-around {
	justify-content: space-around!important;
}

.justify-content-end {
	justify-content: flex-end!important;
}

.align-items-center {
	align-items: center!important;
}

.align-items-stretch {
	align-items: stretch!important;
}

.align-items-end {
	align-items: flex-end!important;
}

.border-white {
	border: 1px solid $color_white;
}

.border-grey {
	border: 1px solid #ECECEC;	
}

.border-green {
	border: 1px solid $color_green;	
}

h1 {
	margin-top: 0;
}

.heading-1 {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 500;
	font-size: 32px;
	line-height: 37px;
	color: $color_black;
}

@media screen and (max-width: 1440px) {
	.heading-1 {
		font-size: calc(32 * 100vw / 1440);
		line-height: calc(37 * 100vw / 1440);
	}
}

@media screen and (max-width: 992px) {
	.heading-1 {
		font-size: 24px;
		line-height: 28px;
	}
}

@media screen and (max-width: 414px) {
	.heading-1 {
		font-size: calc(18 * 100vw / 320);
		line-height: calc(21 * 100vw / 320);
	}
}

.favorites-button {
	display: flex;
	width: 47px;
	height: 47px;
	border-radius: 8px;
	cursor: pointer;
	&__icon {
		width: 20px;
		height: 20px;
	}
}

@media screen and (max-width: 1440px) {
	.favorites-button {
		width: calc(47 * 100vw / 1440);
		height: calc(47 * 100vw / 1440);
		border-radius: calc(8 * 100vw / 1440);
		&__icon {
			width: calc(20 * 100vw / 1440);
			height: calc(20 * 100vw / 1440);
		}
	}
}

@media screen and (max-width: 992px) {
	.favorites-button {
		width: 47px;
		height: 47px;
		border-radius: 8px;
		&__icon {
			width: 20px;
			height: 20px;
		}
	}
}

@media screen and (max-width: 768px) {
	.favorites-button {
		width: calc(47 * 100vw / 768);
		height: calc(47 * 100vw / 768);
		border-radius: calc(8 * 100vw / 768);
		&__icon {
			width: calc(20 * 100vw / 768);
			height: calc(20 * 100vw / 768);
		}
	}
}

.nav-button {
	width: 37px;
	height: 37px;
	border-radius: 100%;
	background: transparent;
	&-icon {
		width: 6px;
		height: 12px;
	}
}

@media screen and (max-width: 1440px) {
	.nav-button {
		width: calc(37 * 100vw / 1440);
		height: calc(37 * 100vw / 1440);
		&-icon {
			width: calc(6 * 100vw / 1440);
			height: calc(12 * 100vw / 1440);
		}
	}
}

@media screen and (max-width: 992px) {
	.nav-button {
		width: 37px;
		height: 37px;
		&-icon {
			width: 6px;
			height: 12px;
		}
	}
}

@media screen and (max-width: 768px) {
	.nav-button {
		width: calc(37 * 100vw / 768);
		height: calc(37 * 100vw / 768);
		&-icon {
			width: calc(6 * 100vw / 768);
			height: calc(12 * 100vw / 768);
		}
	}
}

@media screen and (max-width: 414px) {
	.nav-button {
		width: calc(29 * 100vw / 320);
		height: calc(29 * 100vw / 320);
		&-icon {
			width: calc(4.7 * 100vw / 320);
			height: calc(9.41 * 100vw / 320);
		}
	}
}

.close-button {
	width: 35px;
	height: 35px;
	border-radius: 5px;
	margin-top: 10px;
	background: transparent;
	position: relative;
	&__icon {
		width: 12.02px;
		height: 12.02px;
		position: absolute;
		top: 11px;
		left: 11px;
		right: 11px;
		bottom: 11px;
	}
}

.carousel__viewport {
	overflow: visible!important;
}

.breadcrumbs {
	&__list {
		grid-column-gap: 9px;
		margin-bottom: 27px;
	}
	&__item {
		grid-column-gap: 9px;
		&-link {
			@include font-ubuntu(400, 14px, 16px);
			color: #1B1B1B;
			text-decoration: none;
			&-current {
				color: #999999;
			}
		}
		&-separator {
			width: 2px;
			height: 4px;
		}
	}
}

@media screen and (max-width: 1440px) {
	.breadcrumbs {
		&__list {
			grid-column-gap: calc(9 * 100vw / 1440);
			margin-bottom: calc(27 * 100vw / 1440);
		}
		&__item {
			grid-column-gap: calc(9 * 100vw / 1440);
			&-link {
				@include font-ubuntu(400, calc(14 * 100vw / 1440), calc(16 * 100vw / 1440));
			}
		}
	}
}

@media screen and (max-width: 414px) {
	.breadcrumbs {
		display: none;
	}
}

.pagination {
	grid-column-gap: 10px;
	margin: 0 auto;
	&__item {
		@include box(45px, 45px);
		border: 1px solid #E9E9E9;
		border-radius: 5px;
		cursor: pointer;
		&-prev {
			transform-origin: center;
			transform: rotate(180deg);
		}
		&-page {
			font-family: 'Circe';
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 24px;
			text-align: center;
			color: #333333;
			&-active {
				background: #39BC64;
				border: none;
				color: $color_white;
			}
			&-dot {
				cursor: default!important;
			}
		}
	}
}

@media screen and (max-width: 1440px) {
	.pagination {
		grid-column-gap: calc(10 * 100vw / 1440);
		&__item {
			@include box(calc(45 * 100vw / 1440), calc(45 * 100vw / 1440));
			border-radius: calc(5 * 100vw / 1440);
			&-page {
				font-size: calc(16 * 100vw / 1440);
				line-height: calc(24 * 100vw / 1440);
			}
		}
	}
}

@media screen and (max-width: 992px) {
	.pagination {
		grid-column-gap: 10px;
		&__item {
			@include box(45px, 45px);
			border-radius: 5px;
			&-page {
				font-size: 16px;
				line-height: 24px;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.pagination {
		grid-column-gap: calc(10 * 100vw / 768);
		&__item {
			@include box(calc(45 * 100vw / 768), calc(45 * 100vw / 768));
			border-radius: calc(5 * 100vw / 768);
			&-page {
				font-size: calc(16 * 100vw / 768);
				line-height: calc(24 * 100vw / 768);
			}
		}
	}
}

@media screen and (max-width: 414px) {
	.pagination {
		grid-column-gap: calc(8.78 * 100vw / 320);
		&__item {
			@include box(calc(39.5 * 100vw / 320), calc(39.5 * 100vw / 320));
			border-radius: calc(5 * 100vw / 320);
			&-page {
				font-size: calc(16 * 100vw / 320);
				line-height: calc(24 * 100vw / 320);
			}
		}
	}
}

.location-menu {
	position: relative;
	&__field {
		width: 300px;
		height: 32px;
		border: 1px solid $color_green;
		border-radius: 8px;
		@include font-ubuntu(400, 14px, 16px);
		color: rgba(0, 0, 0, 0.53);
		padding: 8px;
		cursor: pointer;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}
	&__dropdown {
		// position: absolute;
		width: 525.95px;
		height: 591.47px;
		background: $color_white;
		border-radius: 9px;
		padding: 16.22px 14.165px 21.75px;
		position: relative;
		&-close {
			position: absolute;
			cursor: pointer;
			&-desktop {
				width: 17.69px;
				height: 17.69px;
				top: -25.47px;
				right: -30.22px;
			}
			&-mobile {
				display: none;
			}
		}
		&-top {
			position: relative;
		}
		&-search {
			width: 497.62px;
			height: 40px;
			background: #F4F4F4;
			border-radius: 5px;
			border: none;
			outline: none;
			box-shadow: none;
			padding: 11.56px 41.18px 13.44px 14.37px;
			@include font-ubuntu(400, 14px, 15px);
			color: $color_black;
			box-sizing: border-box;
			&-icon {
				position: absolute;
				top: 13px;
				right: 10.81px;
				@include box(16px, 16px);
				cursor: pointer;
			}
		}
		&-body {
			&-desktop {
				display: flex;
				grid-column-gap: 17.39px;
				margin-top: 9.21px;
				margin-bottom: 17px;
			}
			&-mobile {
				display: none;
			}
			&-column {
				width: 240.11px;
				height: 447.29px;
				background: #F4F4F4;
				border-radius: 5px;
				padding: 9.29px 16.09px;
				overflow-y: scroll;
				scrollbar-color: #39BC64 #FFFFFF;
  				scrollbar-width: 3.28px;
				&-item {
					@include font-ubuntu(500, 14px, 25px);
					color: #414141;
					cursor: pointer;
					&-active {
						color: $color_green;
					}
				} 
			}
		}
		&-submit {
			@include box(197px, 40px);
			border: none;
			box-shadow: none;
			border-radius: 5px;
			@include font-ubuntu(500, 14px, 16px);
			color: $color_white;
			background: $color_green;
		}
	}
}

@media screen and (max-width: 1440px) {
	.location-menu {
		&__field {
			width: calc(300 * 100vw / 1440);
			height: calc(32 * 100vw / 1440);
			border-radius: calc(8 * 100vw / 1440);
			@include font-ubuntu(400, calc(14 * 100vw / 1440), calc(16 * 100vw / 1440));
			padding: calc(8 * 100vw / 1440);
		}
		&__dropdown {
			width: calc(525.95 * 100vw / 1440);
			height: calc(591.47 * 100vw / 1440);
			border-radius: calc(9 * 100vw / 1440);
			padding: calc(16.22 * 100vw / 1440) calc(14.165 * 100vw / 1440) calc(21.75 * 100vw / 1440);
			&-close {
				&-desktop {
					width: calc(17.69 * 100vw / 1440);
					height: calc(17.69 * 100vw / 1440);
					top: calc(-1 * 25.47 * 100vw / 1440);
					right: calc(-1 * 30.22 * 100vw / 1440);
				}
			}
			&-search {
				width: calc(497.62 * 100vw / 1440);
				height: calc(40 * 100vw / 1440);
				border-radius: calc(5 * 100vw / 1440);
				padding: calc(11.56 * 100vw / 1440) calc(41.18 * 100vw / 1440) calc(13.44 * 100vw / 1440) calc(14.37 * 100vw / 1440);
				@include font-ubuntu(400, calc(14 * 100vw / 1440), calc(15 * 100vw / 1440));
				&-icon {
					top:  calc(13 * 100vw / 1440);
					right:  calc(10.81 * 100vw / 1440);
					@include box( calc(16 * 100vw / 1440),  calc(16 * 100vw / 1440));
				}
			}
			&-body {
				&-desktop {
					grid-column-gap: calc(17.39 * 100vw / 1440);
					margin-top: calc(9.21 * 100vw / 1440);
					margin-bottom: calc(17 * 100vw / 1440);
				}
				&-column {
					width: calc(240.11 * 100vw / 1440);
					height: calc(447.29 * 100vw / 1440);
					border-radius: calc(5 * 100vw / 1440);
					padding: calc(9.29 * 100vw / 1440) calc(16.09 * 100vw / 1440);
	  				scrollbar-width: calc(3.28 * 100vw / 1440);
					&-item {
						@include font-ubuntu(500, calc(14 * 100vw / 1440), calc(25 * 100vw / 1440));
					} 
				}
			}
			&-submit {
				@include box(calc(197 * 100vw / 1440), calc(40 * 100vw / 1440));
				border-radius: calc(5 * 100vw / 1440);
				@include font-ubuntu(500, calc(14 * 100vw / 1440), calc(16 * 100vw / 1440));
			}
		}
	}
}

@media screen and (max-width: 992px) {
	.location-menu {
		width: 100%;
		&__field {
			height: 32px;
			border-radius: 8px;
			@include font-ubuntu(400, 14px, 16px);
			padding: 8px;
		}
		&__dropdown {
			width: 525.95px;
			height: 591.47px;
			border-radius: 9px;
			padding: 16.22px 14.165px 21.75px;
			&-close {
				&-desktop {
					width: 17.69px;
					height: 17.69px;
					top: -25.47px;
					right: -30.22px;
				}
			}
			&-search {
				width: 497.62px;
				height: 40px;
				border-radius: 5px;
				padding: 11.56px 41.18px 13.44px 14.37px;
				@include font-ubuntu(400, 14px, 15px);
				&-icon {
					top: 13px;
					right: 10.81px;
					@include box(16px, 16px);
				}
			}
			&-body {
				&-desktop {
					display: flex;
					grid-column-gap: 17.39px;
					margin-top: 9.21px;
					margin-bottom: 17px;
				}
				&-column {
					width: 240.11px;
					height: 447.29px;
					border-radius: 5px;
					padding: 9.29px 16.09px;
	  				scrollbar-width: 3.28px;
					&-item {
						@include font-ubuntu(500, 14px, 25px);
					} 
				}
			}
			&-submit {
				@include box(197px, 40px);
				border-radius: 5px;
				@include font-ubuntu(500, 14px, 16px);
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.location-menu {
		&__field {
			height: calc(32 * 100vw / 768);
			border-radius: calc(8 * 100vw / 768);
			@include font-ubuntu(400, calc(14 * 100vw / 768), calc(16 * 100vw / 768));
			padding: calc(8 * 100vw / 768);
		}
		&__dropdown {
			width: calc(525.95 * 100vw / 768);
			height: calc(591.47 * 100vw / 768);
			border-radius: calc(9 * 100vw / 768);
			padding: calc(16.22 * 100vw / 768) calc(14.165 * 100vw / 768) calc(21.75 * 100vw / 768);
			&-close {
				&-desktop {
					width: calc(17.69 * 100vw / 768);
					height: calc(17.69 * 100vw / 768);
					top: calc(-1 * 25.47 * 100vw / 768);
					right: calc(-1 * 30.22 * 100vw / 768);
				}
			}
			&-search {
				width: calc(497.62 * 100vw / 768);
				height: calc(40 * 100vw / 768);
				border-radius: calc(5 * 100vw / 768);
				padding: calc(11.56 * 100vw / 768) calc(41.18 * 100vw / 768) calc(13.44 * 100vw / 768) calc(14.37 * 100vw / 768);
				@include font-ubuntu(400, calc(14 * 100vw / 768), calc(15 * 100vw / 768));
				&-icon {
					top:  calc(13 * 100vw / 768);
					right:  calc(10.81 * 100vw / 768);
					@include box( calc(16 * 100vw / 768),  calc(16 * 100vw / 768));
				}
			}
			&-body {
				&-desktop {
					grid-column-gap: calc(17.39 * 100vw / 768);
					margin-top: calc(9.21 * 100vw / 768);
					margin-bottom: calc(17 * 100vw / 768);
				}
				&-column {
					width: calc(240.11 * 100vw / 768);
					height: calc(447.29 * 100vw / 768);
					border-radius: calc(5 * 100vw / 768);
					padding: calc(9.29 * 100vw / 768) calc(16.09 * 100vw / 768);
	  				scrollbar-width: calc(3.28 * 100vw / 768);
					&-item {
						@include font-ubuntu(500, calc(14 * 100vw / 768), calc(25 * 100vw / 768));
					} 
				}
			}
			&-submit {
				@include box(calc(197 * 100vw / 768), calc(40 * 100vw / 768));
				border-radius: calc(5 * 100vw / 768);
				@include font-ubuntu(500, calc(14 * 100vw / 768), calc(16 * 100vw / 768));
			}
		}
	}
}

@media screen and (max-width: 414px) {
	.location-menu {
		width: 100%;
		&__field {
			width: 100%;
			height: calc(32 * 100vw / 320);
			border-radius: calc(8 * 100vw / 320);
			@include font-ubuntu(400, calc(14 * 100vw / 320), calc(16 * 100vw / 320));
			padding: calc(8 * 100vw / 320);
		}
		&__dropdown {
			width: calc(280 * 100vw / 320);
			height: calc(311 * 100vw / 320);
			border-radius: calc(9 * 100vw / 320);
			padding: calc(40 * 100vw / 320) calc(17 * 100vw / 320) calc(34 * 100vw / 320);
			&-close {
				&-desktop {
					display: none;
				}
				&-mobile {
					display: block;
					width: calc(12 * 100vw / 320);
					height: calc(12 * 100vw / 320);
					top: calc(13 * 100vw / 320);
					right: calc(12 * 100vw / 320);
				}
			}
			&-search {
				width: calc(246 * 100vw / 320);
				height: calc(52 * 100vw / 320);
				border-radius: calc(5 * 100vw / 320);
				padding: calc(7 * 100vw / 320) calc(40 * 100vw / 320) calc(5 * 100vw / 320) calc(12 * 100vw / 320);
				@include font-ubuntu(400, calc(14 * 100vw / 320), calc(20 * 100vw / 320));
				&-icon {
					top:  calc(19 * 100vw / 320);
					right:  calc(12 * 100vw / 320);
					@include box( calc(16 * 100vw / 320),  calc(16 * 100vw / 320));
				}
			}
			&-body {
				&-desktop {
					display: none;
				}
				&-mobile {
					display: flex;
					margin-top: calc(7 * 100vw / 320);
					margin-bottom: calc(12 * 100vw / 320);
					grid-row-gap: calc(10 * 100vw / 320);
				}
				&-menu {
					position: relative;
					&-field {
						width: calc(246 * 100vw / 320);
						height: calc(52 * 100vw / 320);
						background: #F4F4F4;
						border-radius: calc(5 * 100vw / 320);
						padding: calc(12.75 * 100vw / 320) calc(15 * 100vw / 320) calc(14.25 * 100vw / 320) calc(11.5 * 100vw / 320);
						cursor: pointer;
						&-value {
							@include font-ubuntu(500, calc(14 * 100vw / 320), calc(25 * 100vw / 320));
							color: #414141;
						}
						&-icon {
							width: calc(14 * 100vw / 320);
						}
					}
					&-list {
						position: absolute;
						top: 0;
						left: 0;
						z-index: 2;
						width: calc(246 * 100vw / 320);
						height: calc(446.28 * 100vw / 320);
						background: #F4F4F4;
						border-radius: calc(5 * 100vw / 320);
						padding: calc(11 * 100vw / 320) calc(14.28 * 100vw / 320) calc(12.95 * 100vw / 320);
						overflow-y: scroll;
						scrollbar-color: #39BC64 #FFFFFF;
		  				scrollbar-width: calc(3.28 * 100vw / 320);
						&-item {
							@include font-ubuntu(500, calc(14 * 100vw / 320), calc(25 * 100vw / 320));
							color: #414141;
							cursor: pointer;
						}
					}
				}
			}
			&-submit {
				@include box(calc(246 * 100vw / 320), calc(52 * 100vw / 320));
				border-radius: calc(5 * 100vw / 320);
				@include font-ubuntu(400, calc(14 * 100vw / 320), calc(14 * 100vw / 320));
			}
		}
	}
}

.contact-dialog {
	width: 525.95px;
	height: 660.51px;
	background: $color_white;
	position: relative;
	&__title {
		@include font-ubuntu(500, 32px, 37px);
		color: #313131;
		margin: 60.77px auto 22.75px;
		text-align: center;
	}
	&__form {
		&-textarea {
			width: 473px;
			height: 154.79px;
			background: #F4F4F4;
			border-radius: 5px;
			@include font-ubuntu(400, 14px, 25px);
			color: $color_black;
			padding: 14px 18px 13px;
			resize: none;
			border: none;
			box-shadow: none;
			outline: none;
			box-sizing: border-box;
		}
	}
}

@media screen and (max-width: 1440px) {
	.contact-dialog {
		width: calc(525.95 * 100vw / 1440);
		height: calc(660.51 * 100vw / 1440);
		&__title {
			@include font-ubuntu(500, calc(32 * 100vw / 1440), calc(37 * 100vw / 1440));
			margin: calc(60.77 * 100vw / 1440) auto calc(22.75 * 100vw / 1440);
		}
		&__form {
			&-textarea {
				width: calc(473 * 100vw / 1440);
				height: calc(154.79 * 100vw / 1440);
				border-radius: calc(5 * 100vw / 1440);
				@include font-ubuntu(400, calc(14 * 100vw / 1440), calc(25 * 100vw / 1440));
				padding: calc(14 * 100vw / 1440) calc(18 * 100vw / 1440) calc(13 * 100vw / 1440);
			}
		}
	}
}

@media screen and (max-width: 414px) {
	.contact-dialog {
		width: calc(280 * 100vw / 320);
		height: calc(489 * 100vw / 320);
		&__title {
			@include font-ubuntu(700, calc(20 * 100vw / 320), calc(25 * 100vw / 320));
			color: $color_black;
			margin: calc(37.45 * 100vw / 320) auto calc(20 * 100vw / 320);
			text-align: center;
		}
		&__form {
			&-textarea {
				width: calc(246 * 100vw / 320);
				height: calc(118.5 * 100vw / 320);
				border-radius: calc(5 * 100vw / 320);
				@include font-ubuntu(400, calc(14 * 100vw / 320), calc(25 * 100vw / 320));
				padding: calc(5.95 * 100vw / 320) calc(18 * 100vw / 320);
			}
		}
	}
}

.doc {
	&-content {
		& ul {
			list-style: none;
		}
	}
}
