@import '@/assets/styles/_variables.scss';
@import '@/assets/styles/_mixins.scss';

/* @font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: normal;
    src: local('Ubuntu Regular'), url('@/assets/fonts/Ubuntu-R.woff') format('woff');
}

@font-face {
    font-family: 'Ubuntu Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Ubuntu Italic'), url('@/assets/fonts/Ubuntu-RI.woff') format('woff');
}

@font-face {
    font-family: 'Ubuntu Light';
    font-style: normal;
    font-weight: normal;
    src: local('Ubuntu Light'), url('@/assets/fonts/Ubuntu-L.woff') format('woff');
}

@font-face {
    font-family: 'Ubuntu Light Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Ubuntu Light Italic'), url('@/assets/fonts/Ubuntu-LI.woff') format('woff');
}

@font-face {
    font-family: 'Ubuntu Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Ubuntu Medium'), url('@/assets/fonts/Ubuntu-M.woff') format('woff');
}

@font-face {
    font-family: 'Ubuntu Medium Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Ubuntu Medium Italic'), url('@/assets/fonts/Ubuntu-MI.woff') format('woff');
}

@font-face {
    font-family: 'Ubuntu Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Ubuntu Bold'), url('@/assets/fonts/Ubuntu-B.woff') format('woff');
}

@font-face {
    font-family: 'Ubuntu Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Ubuntu Bold Italic'), url('@/assets/fonts/Ubuntu-BI.woff') format('woff');
}

@font-face {
    font-family: 'Ubuntu Condensed Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Ubuntu Condensed Regular'), url('@/assets/fonts/Ubuntu-C.woff') format('woff');
} */

@font-face {
    font-family: 'Circe';
    font-style: normal;
    font-weight: normal;
    src: local('Circe'), url('@/assets/fonts/CRC55.woff') format('woff');
}

@font-face {
    font-family: 'Circe Extra Light';
    font-style: normal;
    font-weight: normal;
    src: local('Circe Extra Light'), url('@/assets/fonts/CRC25.woff') format('woff');
}

@font-face {
	font-family: 'Circe Light';
	font-style: normal;
	font-weight: normal;
	src: local('Circe Light'), url('@/assets/fonts/CRC35.woff') format('woff');
}

@font-face {
    font-family: 'Circe Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Circe Bold'), url('@/assets/fonts/CRC65.woff') format('woff');
}

div {
	box-sizing: border-box;
}

a, button {
	cursor: pointer;
}

a {
	text-decoration: none;
}

button {
	box-sizing: border-box;
	padding: 0;
	box-shadow: none;
}

input:focus, input:active {
	border: none!important;
	outline: none!important;
}

.d-flex {
	display: flex;
	// justify-content: flex-start;
	align-items: flex-start;
}

.flex-column {
	flex-direction: column!important;
}

.flex-wrap {
	flex-wrap: wrap;
}

.justify-content-center {
	justify-content: center!important;
}

.justify-content-between {
	justify-content: space-between!important;
}

.justify-content-around {
	justify-content: space-around!important;
}

.justify-content-end {
	justify-content: flex-end!important;
}

.align-items-center {
	align-items: center!important;
}

.align-items-stretch {
	align-items: stretch!important;
}

.align-items-end {
	align-items: flex-end!important;
}

.border-white {
	border: 1px solid $color_white;
}

.border-grey {
	border: 1px solid #ECECEC;	
}

.border-green {
	border: 1px solid $color_green;	
}

h1 {
	margin-top: 0;
}

.heading-1 {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 500;
	font-size: 32px;
	line-height: 37px;
	color: $color_black;
}

@media screen and (max-width: 1440px) {
	.heading-1 {
		font-size: calc(32 * 100vw / 1440);
		line-height: calc(37 * 100vw / 1440);
	}
}

@media screen and (max-width: 992px) {
	.heading-1 {
		font-size: 24px;
		line-height: 28px;
	}
}

@media screen and (max-width: 414px) {
	.heading-1 {
		font-size: calc(18 * 100vw / 320);
		line-height: calc(21 * 100vw / 320);
	}
}

.favorites-button {
	display: flex;
	width: 47px;
	height: 47px;
	border-radius: 8px;
	cursor: pointer;
	&__icon {
		width: 20px;
		height: 20px;
	}
}

@media screen and (max-width: 1440px) {
	.favorites-button {
		width: calc(47 * 100vw / 1440);
		height: calc(47 * 100vw / 1440);
		border-radius: calc(8 * 100vw / 1440);
		&__icon {
			width: calc(20 * 100vw / 1440);
			height: calc(20 * 100vw / 1440);
		}
	}
}

@media screen and (max-width: 992px) {
	.favorites-button {
		width: 47px;
		height: 47px;
		border-radius: 8px;
		&__icon {
			width: 20px;
			height: 20px;
		}
	}
}

@media screen and (max-width: 768px) {
	.favorites-button {
		width: calc(47 * 100vw / 768);
		height: calc(47 * 100vw / 768);
		border-radius: calc(8 * 100vw / 768);
		&__icon {
			width: calc(20 * 100vw / 768);
			height: calc(20 * 100vw / 768);
		}
	}
}

.nav-button {
	width: 37px;
	height: 37px;
	border-radius: 100%;
	background: transparent;
	&-icon {
		width: 6px;
		height: 12px;
	}
}

@media screen and (max-width: 1440px) {
	.nav-button {
		width: calc(37 * 100vw / 1440);
		height: calc(37 * 100vw / 1440);
		&-icon {
			width: calc(6 * 100vw / 1440);
			height: calc(12 * 100vw / 1440);
		}
	}
}

@media screen and (max-width: 992px) {
	.nav-button {
		width: 37px;
		height: 37px;
		&-icon {
			width: 6px;
			height: 12px;
		}
	}
}

@media screen and (max-width: 768px) {
	.nav-button {
		width: calc(37 * 100vw / 768);
		height: calc(37 * 100vw / 768);
		&-icon {
			width: calc(6 * 100vw / 768);
			height: calc(12 * 100vw / 768);
		}
	}
}

@media screen and (max-width: 414px) {
	.nav-button {
		width: calc(29 * 100vw / 320);
		height: calc(29 * 100vw / 320);
		&-icon {
			width: calc(4.7 * 100vw / 320);
			height: calc(9.41 * 100vw / 320);
		}
	}
}

.close-button {
	width: 35px;
	height: 35px;
	border-radius: 5px;
	margin-top: 10px;
	background: transparent;
	position: relative;
	&__icon {
		width: 12.02px;
		height: 12.02px;
		position: absolute;
		top: 11px;
		left: 11px;
		right: 11px;
		bottom: 11px;
	}
}

.carousel__viewport {
	overflow: visible!important;
}

.breadcrumbs {
	&__list {
		grid-column-gap: 9px;
		margin-bottom: 27px;
	}
	&__item {
		grid-column-gap: 9px;
		&-link {
			@include font-ubuntu(400, 14px, 16px);
			color: #1B1B1B;
			text-decoration: none;
			&-current {
				color: #999999;
			}
		}
		&-separator {
			width: 2px;
			height: 4px;
		}
	}
}

@media screen and (max-width: 1440px) {
	.breadcrumbs {
		&__list {
			grid-column-gap: calc(9 * 100vw / 1440);
			margin-bottom: calc(27 * 100vw / 1440);
		}
		&__item {
			grid-column-gap: calc(9 * 100vw / 1440);
			&-link {
				@include font-ubuntu(400, calc(14 * 100vw / 1440), calc(16 * 100vw / 1440));
			}
		}
	}
}

@media screen and (max-width: 414px) {
	.breadcrumbs {
		display: none;
	}
}

.pagination {
	grid-column-gap: 10px;
	margin: 0 auto;
	&__item {
		@include box(45px, 45px);
		border: 1px solid #E9E9E9;
		border-radius: 5px;
		cursor: pointer;
		&-prev {
			transform-origin: center;
			transform: rotate(180deg);
		}
		&-page {
			font-family: 'Circe';
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 24px;
			text-align: center;
			color: #333333;
			&-active {
				background: #39BC64;
				border: none;
				color: $color_white;
			}
			&-dot {
				cursor: default!important;
			}
		}
	}
}

@media screen and (max-width: 1440px) {
	.pagination {
		grid-column-gap: calc(10 * 100vw / 1440);
		&__item {
			@include box(calc(45 * 100vw / 1440), calc(45 * 100vw / 1440));
			border-radius: calc(5 * 100vw / 1440);
			&-page {
				font-size: calc(16 * 100vw / 1440);
				line-height: calc(24 * 100vw / 1440);
			}
		}
	}
}

@media screen and (max-width: 992px) {
	.pagination {
		grid-column-gap: 10px;
		&__item {
			@include box(45px, 45px);
			border-radius: 5px;
			&-page {
				font-size: 16px;
				line-height: 24px;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.pagination {
		grid-column-gap: calc(10 * 100vw / 768);
		&__item {
			@include box(calc(45 * 100vw / 768), calc(45 * 100vw / 768));
			border-radius: calc(5 * 100vw / 768);
			&-page {
				font-size: calc(16 * 100vw / 768);
				line-height: calc(24 * 100vw / 768);
			}
		}
	}
}

@media screen and (max-width: 414px) {
	.pagination {
		grid-column-gap: calc(8.78 * 100vw / 320);
		&__item {
			@include box(calc(39.5 * 100vw / 320), calc(39.5 * 100vw / 320));
			border-radius: calc(5 * 100vw / 320);
			&-page {
				font-size: calc(16 * 100vw / 320);
				line-height: calc(24 * 100vw / 320);
			}
		}
	}
}

.location-menu {
	position: relative;
	&__field {
		width: 300px;
		height: 32px;
		border: 1px solid $color_green;
		border-radius: 8px;
		@include font-ubuntu(400, 14px, 16px);
		color: rgba(0, 0, 0, 0.53);
		padding: 8px;
		cursor: pointer;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}
	&__dropdown {
		// position: absolute;
		width: 1200px;
		// height: 500px;
		background: $color_white;
		// border-radius: 8px;
		box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.12);
		&-top {
			width: 100%;
			height: 73px;
			border-bottom: 3px solid #F4F4F4;
			position: relative;
		}
		&-title {
			@include font-ubuntu(500, 24px, 36px);
			color: $color_black;
		}
		&-body {
			padding: 10px 30px;
			&-row {
				padding: 20px 0;
				grid-column-gap: 10px;
				&-actions {
					padding: 0 10px 20px;
					& > div {
						@include font-ubuntu(400, 15px, 20px);
						cursor: pointer;
						max-width: 50%;
					}
					&-back {
						text-align: left;
					}
					&-all {
						text-align: right;
					}
				}
				&-items {
					grid-column-gap: 15px;
					grid-row-gap: 15px;

				}
				&-item {
					@include font-ubuntu(400, 14px, 16px);
					cursor: pointer;
					border: 1px solid #F4F4F4;
					padding: 10px;
					border-radius: 5px;
					&-active {
						border: 1px solid $color_green;
					}
				}
				&-region {
					@include font-ubuntu(400, 14px, 16px);
					cursor: pointer;
					border-bottom: 1px solid #F4F4F4;
					padding: 10px;
					width: 30%;
				}
			}
			&-divider {
				width: 100%;
				height: 3px;
				background: #F4F4F4;
			}
		}
		&-bottom {
			border-top: 3px solid #F4F4F4;
			padding: 20px 30px 20px;
		}
		&-submit {
			@include box(100px, 40px);
			border: none;
			box-shadow: none;
			border-radius: 8px;
			@include font-ubuntu(400, 14px, 16px);
			color: $color_white;
			background: $color_green;
		}
	}
}

@media screen and (max-width: 1440px) {
	.location-menu {
		&__field {
			width: calc(300 * 100vw / 1440);
			height: calc(32 * 100vw / 1440);
			border-radius: calc(8 * 100vw / 1440);
			@include font-ubuntu(400, calc(14 * 100vw / 1440), calc(16 * 100vw / 1440));
			padding: calc(8 * 100vw / 1440);
		}
		&__dropdown {
			width: calc(1200 * 100vw / 1440);
			&-top {
				height: calc(73 * 100vw / 1440);
			}
			&-title {
				@include font-ubuntu(500, calc(24 * 100vw / 1440), calc(36 * 100vw / 1440));
			}
			&-body {
				padding: calc(10 * 100vw / 1440) calc(30 * 100vw / 1440);
				&-row {
					padding: calc(20 * 100vw / 1440) 0;
					grid-column-gap: calc(10 * 100vw / 1440);
					&-actions {
						padding: 0 calc(10 * 100vw / 1440) calc(20 * 100vw / 1440);
						& > div {
							@include font-ubuntu(400, calc(15 * 100vw / 1440), calc(20 * 100vw / 1440));
						}
					}
					&-items {
						grid-column-gap: calc(15 * 100vw / 1440);
						grid-row-gap: calc(15 * 100vw / 1440);

					}
					&-item {
						@include font-ubuntu(400, calc(14 * 100vw / 1440), calc(16 * 100vw / 1440));
						padding: calc(10 * 100vw / 1440);
						border-radius: calc(5 * 100vw / 1440);
					}
					&-region {
						@include font-ubuntu(400, calc(14 * 100vw / 1440), calc(16 * 100vw / 1440));
						padding: calc(10 * 100vw / 1440);
					}
				}
			}
			&-bottom {
				padding: calc(20 * 100vw / 1440) calc(30 * 100vw / 1440) calc(20 * 100vw / 1440);
			}
			&-submit {
				@include box(calc(100 * 100vw / 1440), calc(40 * 100vw / 1440));
				border-radius: calc(8 * 100vw / 1440);
				@include font-ubuntu(400, calc(14 * 100vw / 1440), calc(16 * 100vw / 1440));
			}
		}
	}
}

@media screen and (max-width: 992px) {
	.location-menu {
		width: 100%;
		&__field {
			height: 32px;
			border-radius: 8px;
			@include font-ubuntu(400, 14px, 16px);
			padding: 8px;
		}
		&__dropdown {
			width: 688px;
			&-top {
				height: 73px;
			}
			&-title {
				@include font-ubuntu(500, 24px, 36px);
			}
			&-body {
				padding: 10px 30px;
				&-row {
					padding: 10px 0;
					grid-column-gap: 10px;
					&-actions {
						padding: 0 10px 20px;
						& > div {
							@include font-ubuntu(400, 15px, 20px);
						}
					}
					&-items {
						grid-column-gap: 15px;
						grid-row-gap: 15px;

					}
					&-item {
						@include font-ubuntu(400, 14px, 16px);
						padding: 10px;
						border-radius: 5px;
					}
					&-region {
						@include font-ubuntu(400, 14px, 16px);
						padding: 10px;
					}
				}
			}
			&-bottom {
				padding: 20px 30px 20px;
			}
			&-submit {
				@include box(100px, 40px);
				border-radius: 8px;
				@include font-ubuntu(400, 14px, 16px);
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.location-menu {
		&__field {
			height: calc(32 * 100vw / 768);
			border-radius: calc(8 * 100vw / 768);
			@include font-ubuntu(400, calc(14 * 100vw / 768), calc(16 * 100vw / 768));
			padding: calc(8 * 100vw / 768);
		}
		&__dropdown {
			width: calc(688 * 100vw / 768);
			&-top {
				height: calc(73 * 100vw / 768);
			}
			&-title {
				@include font-ubuntu(500, calc(24 * 100vw / 768), calc(36 * 100vw / 768));
			}
			&-body {
				padding: calc(10 * 100vw / 768) calc(30 * 100vw / 768);
				&-row {
					padding: calc(10 * 100vw / 768) 0;
					grid-column-gap: calc(10 * 100vw / 768);
					&-actions {
						padding: 0 calc(10 * 100vw / 768) calc(20 * 100vw / 768);
						& > div {
							@include font-ubuntu(400, calc(15 * 100vw / 768), calc(20 * 100vw / 768));
						}
					}
					&-items {
						grid-column-gap: calc(15 * 100vw / 768);
						grid-row-gap: calc(15 * 100vw / 768);

					}
					&-item {
						@include font-ubuntu(400, calc(14 * 100vw / 768), calc(16 * 100vw / 768));
						padding: calc(10 * 100vw / 768);
						border-radius: calc(5 * 100vw / 768);
					}
					&-region {
						@include font-ubuntu(400, calc(14 * 100vw / 768), calc(16 * 100vw / 768));
						padding: calc(10 * 100vw / 768);
					}
				}
			}
			&-bottom {
				padding: calc(20 * 100vw / 768) calc(30 * 100vw / 768) calc(20 * 100vw / 768);
			}
			&-submit {
				@include box(calc(100 * 100vw / 768), calc(40 * 100vw / 768));
				border-radius: calc(8 * 100vw / 768);
				@include font-ubuntu(400, calc(14 * 100vw / 768), calc(16 * 100vw / 768));
			}
		}
	}
}

@media screen and (max-width: 414px) {
	.location-menu {
		width: 100%;
		&__field {
			width: 100%;
			height: calc(32 * 100vw / 320);
			border-radius: calc(8 * 100vw / 320);
			@include font-ubuntu(400, calc(14 * 100vw / 320), calc(16 * 100vw / 320));
			padding: calc(8 * 100vw / 320);
		}
		&__dropdown {
			width: calc(280 * 100vw / 320);
			&-top {
				height: calc(73 * 100vw / 320);
			}
			&-title {
				@include font-ubuntu(500, calc(18 * 100vw / 320), calc(21 * 100vw / 320));
			}
			&-body {
				max-height: 50vh;
				overflow: scroll;
				padding: calc(10 * 100vw / 320) calc(20 * 100vw / 320);
				&-row {
					padding: calc(10 * 100vw / 320) 0;
					grid-column-gap: calc(10 * 100vw / 320);
					&-actions {
						padding: 0 calc(10 * 100vw / 320) calc(20 * 100vw / 320);
						& > div {
							@include font-ubuntu(400, calc(12 * 100vw / 320), calc(16 * 100vw / 320));
						}
					}
					&-items {
						grid-column-gap: calc(15 * 100vw / 320);
						grid-row-gap: calc(5 * 100vw / 320);

					}
					&-item {
						@include font-ubuntu(400, calc(12 * 100vw / 320), calc(16 * 100vw / 320));
						padding: calc(10 * 100vw / 320);
						border-radius: calc(5 * 100vw / 320);
					}
					&-region {
						@include font-ubuntu(400, calc(12 * 100vw / 320), calc(14 * 100vw / 320));
						padding: calc(5 * 100vw / 320) 0;
						width: 45%;
					}
				}
			}
			&-bottom {
				padding: calc(20 * 100vw / 320) calc(30 * 100vw / 320) calc(20 * 100vw / 320);
			}
			&-submit {
				@include box(calc(100 * 100vw / 320), calc(40 * 100vw / 320));
				border-radius: calc(8 * 100vw / 320);
				@include font-ubuntu(400, calc(14 * 100vw / 320), calc(16 * 100vw / 320));
			}
		}
	}
}

.contact-dialog {
	width: 525.95px;
	height: 660.51px;
	background: $color_white;
	position: relative;
	&__title {
		@include font-ubuntu(500, 32px, 37px);
		color: #313131;
		margin: 60.77px auto 22.75px;
		text-align: center;
	}
	&__form {
		&-textarea {
			width: 473px;
			height: 154.79px;
			background: #F4F4F4;
			border-radius: 5px;
			@include font-ubuntu(400, 14px, 25px);
			color: $color_black;
			padding: 14px 18px 13px;
			resize: none;
			border: none;
			box-shadow: none;
			outline: none;
			box-sizing: border-box;
		}
	}
}

@media screen and (max-width: 1440px) {
	.contact-dialog {
		width: calc(525.95 * 100vw / 1440);
		height: calc(660.51 * 100vw / 1440);
		&__title {
			@include font-ubuntu(500, calc(32 * 100vw / 1440), calc(37 * 100vw / 1440));
			margin: calc(60.77 * 100vw / 1440) auto calc(22.75 * 100vw / 1440);
		}
		&__form {
			&-textarea {
				width: calc(473 * 100vw / 1440);
				height: calc(154.79 * 100vw / 1440);
				border-radius: calc(5 * 100vw / 1440);
				@include font-ubuntu(400, calc(14 * 100vw / 1440), calc(25 * 100vw / 1440));
				padding: calc(14 * 100vw / 1440) calc(18 * 100vw / 1440) calc(13 * 100vw / 1440);
			}
		}
	}
}

@media screen and (max-width: 414px) {
	.contact-dialog {
		width: calc(280 * 100vw / 320);
		height: calc(489 * 100vw / 320);
		&__title {
			@include font-ubuntu(700, calc(20 * 100vw / 320), calc(25 * 100vw / 320));
			color: $color_black;
			margin: calc(37.45 * 100vw / 320) auto calc(20 * 100vw / 320);
			text-align: center;
		}
		&__form {
			&-textarea {
				width: calc(246 * 100vw / 320);
				height: calc(118.5 * 100vw / 320);
				border-radius: calc(5 * 100vw / 320);
				@include font-ubuntu(400, calc(14 * 100vw / 320), calc(25 * 100vw / 320));
				padding: calc(5.95 * 100vw / 320) calc(18 * 100vw / 320);
			}
		}
	}
}
