@import '@/assets/styles/_variables.scss';
@import '@/assets/styles/_mixins.scss';

.create-product {
	&__form {
		&-blocks {
			grid-row-gap: 10px;
		}
		&-block {
			position: relative;
			width: 1200px;
			padding-top: 24px;
			padding-left: 25px;
			padding-right: 25px;
			background: #F4F4F4;
			border-radius: 11px;
			&-error {
				position: absolute;
				top: 10px;
				@include font-ubuntu(400, 12px, 12px);
				color: red;
				&-category {
					top: 150px;
				}
				&-save {
					top: -20px;
					right: 0;
				}
			}
			&-main {
				padding-bottom: 38px;
			}
			&-images {
				padding-bottom: 31px;
			}
			&-description {
				padding-bottom: 32px;
			}
			&-price {
				padding-top: 33px;
				padding-bottom: 33px;
				grid-column-gap: 39px;
			}
			&-item {
				&-negotiable {
					margin-top: 49px;
					grid-column-gap: 16px;
				}
			}
			&-location {
				padding-top: 33px;
				padding-bottom: 45px;
			}
			&-contacts {
				padding-top: 33px;
				padding-bottom: 27px;
			}
		}
		&-label {
			@include font-ubuntu(700, 14px, 25px);
			color: $color_black;
			margin-bottom: 10px;
			&-inline {
				margin-bottom: 0;
			}
		}
		&-field {
			width: 100%;
			height: 52px;
			box-sizing: border-box;
			background: $color_white;
			border-radius: 5px;
			padding: 14px 18px 13px;
			border: none;
			@include font-ubuntu(400, 14px, 25px);
			color: $color_black;
			&-price {
				width: 336px;
			}
			&-error {
				border: 1px solid red;
			}
		}
		&-hint {
			@include font-ubuntu(400, 14px, 25px);
			color: #868686;
			margin-top: 4px;
		}
		&-name {
			width: 100%;
			margin-bottom: 25px;
		}
		&-selects {
			grid-column-gap: 20px;
			grid-row-gap: 13px;
		}
		&-select {
			width: 565px;
			position: relative;
			&-location {
				width: 473px;
			}
			&-field {
				width: 100%;
				height: 52px;
				box-sizing: border-box;
				background: $color_white;
				border-radius: 5px;
				padding: 14px 14px 13px 18px;
				border: none;
				cursor: pointer;
				&-value {
					@include font-ubuntu(400, 14px, 25px);
					color: $color_black;					
				}
				&-arrow {
					width: 13px;
					height: 8px;
				}
				&-input {
					@include font-ubuntu(400, 14px, 25px);
					color: $color_black;
					width: 100%;
					flex: 1;
					border: none;
					outline: none;
					padding: 0;
				}
				&-location {
					width: 12px;
					height: 16px;

				}
			}
			&-menu {
				position: absolute;
				top: 47px;
				width: 100%;
				background: $color_white;
				border-radius: 5px;
				padding: 5px 14px 13px 18px;
				z-index: 2;
				&-item {
					@include font-ubuntu(400, 14px, 25px);
					color: $color_black;	
					cursor: pointer;				
				}
			}
		}
		&-thumbs {
			grid-column-gap: 20px;
			grid-row-gap: 15px;
			&-sublabel {
				@include font-ubuntu(400, 14px, 25px);
				color: #161616;	
				margin-bottom: 20px;
			}
		}
		&-thumb {
			width: 272px;
			height: 158px;
			background: $color_white;
			border-radius: 5px;
			background-size: cover;
  			background-position: center center;
			&-active {
				box-shadow: 0px 7px 11px rgba(0, 0, 0, 0.08);
				border: 1px solid $color_green;
				cursor: pointer;
			}
			&-text {
				@include font-ubuntu(700, 14px, 25px);
				color: $color_green;
				margin-bottom: 8px;
			}
			& img {
				width: 40px;
				height: 37px;
			}
		}
		&-textarea {
			width: 100%;
			height: 182px;
			box-sizing: border-box;
			background: $color_white;
			border-radius: 5px;
			resize: none;
			border: none;
			box-shadow: none;
			outline: none;
			@include font-ubuntu(400, 14px, 25px);
			color: $color_black;
			padding: 14px 18px 13px;
			&-error {
				border: 1px solid red;
			}
		}
		&-switch {
			width: 40px;
			height: 20px;
			background: $color_white;
			border-radius: 10px;
			position: relative;
			cursor: pointer;
			&-position {
				width: 20px;
				height: 20px;
				box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.25);
				position: absolute;
				top: 0;
				border-radius: 100%;
				&-on {
					right: 0;
					background: $color_green;
				}
				&-off {
					left: 0;
					background: #868686;
				}
			}
		}
		&-inputs {
			width: 473px;
			grid-row-gap: 11px;
		}
		&-bottom {
			position: relative;
			margin-top: 38px;
			margin-bottom: 93px;
		}
		&-limitation {
			grid-column-gap: 15px;
			&-option {
				@include font-ubuntu(500, 14px, 25px);
				color: $color_black;
			}
			&-description {
				@include font-ubuntu(400, 14px, 25px);
				color: $color_black;
			}
		}
		&-buttons {
			grid-column-gap: 15px;
			& button {
				width: 205px;
				height: 39px;
				border-radius: 5px;
				box-shadow: none;
				@include font-ubuntu(400, 13px, 14px);
			}
		}
		&-button {
			&-publish {
				background: $color_green;
				color: $color_white;
				border: none;
			}
			&-preview {
				background: $color_white;
				color: $color_black;
				border: 1px solid $color_green;
			}
			&-cancel {
				background: $color_white;
				color: $color_black;
				border: 1px solid $color_green;
			}
		}
	}
	&__success {
		&-info {
			@include font-ubuntu(400, 18px, 36px);
			text-align: center;
			margin: 60px auto 30px;
		}
		&-buttons {
			margin: 30px auto;
			grid-column-gap: 30px;
		}
		&-button {
			width: 205px;
			height: 39px;
			border-radius: 5px;
			box-shadow: none;
			@include font-ubuntu(400, 14px, 14px);
			background: $color_green;
			color: $color_white;
			border: none;
		}
	}
}

@media screen and (max-width: 1440px) {
	.create-product {
		&__form {
			&-blocks {
				grid-row-gap: calc(10 * 100vw / 1440);
			}
			&-block {
				width: calc(1200 * 100vw / 1440);
				padding-top: calc(24 * 100vw / 1440);
				padding-left: calc(25 * 100vw / 1440);
				padding-right: calc(25 * 100vw / 1440);
				border-radius: calc(11 * 100vw / 1440);
				&-error {
					top: calc(10 * 100vw / 1440);
					@include font-ubuntu(400, calc(12 * 100vw / 1440), calc(12 * 100vw / 1440));
					&-category {
						top: calc(150 * 100vw / 1440);
					}
					&-save {
						top: calc(-1 * 20 * 100vw / 1440);
					}
				}
				&-main {
					padding-bottom: calc(38 * 100vw / 1440);
				}
				&-images {
					padding-bottom: calc(31 * 100vw / 1440);
				}
				&-description {
					padding-bottom: calc(32 * 100vw / 1440);
				}
				&-price {
					padding-top: calc(33 * 100vw / 1440);
					padding-bottom: calc(33 * 100vw / 1440);
					grid-column-gap: calc(39 * 100vw / 1440);
				}
				&-item {
					&-negotiable {
						margin-top: calc(49 * 100vw / 1440);
						grid-column-gap: calc(16 * 100vw / 1440);
					}
				}
				&-location {
					padding-top: calc(33 * 100vw / 1440);
					padding-bottom: calc(45 * 100vw / 1440);
				}
				&-contacts {
					padding-top: calc(33 * 100vw / 1440);
					padding-bottom: calc(27 * 100vw / 1440);
				}
			}
			&-label {
				@include font-ubuntu(700, calc(14 * 100vw / 1440), calc(25 * 100vw / 1440));
				margin-bottom: calc(10 * 100vw / 1440);
			}
			&-field {
				height: calc(52 * 100vw / 1440);
				border-radius: calc(5 * 100vw / 1440);
				padding: calc(14 * 100vw / 1440) calc(18 * 100vw / 1440) calc(13 * 100vw / 1440);
				@include font-ubuntu(400, calc(14 * 100vw / 1440), calc(25 * 100vw / 1440));
				&-price {
					width: calc(336 * 100vw / 1440);
				}
			}
			&-hint {
				@include font-ubuntu(400, calc(14 * 100vw / 1440), calc(25 * 100vw / 1440));
				margin-top: calc(4 * 100vw / 1440);
			}
			&-name {
				margin-bottom: calc(25 * 100vw / 1440);
			}
			&-selects {
				grid-column-gap: calc(20 * 100vw / 1440);
				grid-row-gap: calc(13 * 100vw / 1440);
			}
			&-select {
				width: calc(565 * 100vw / 1440);
				&-location {
					width: calc(473 * 100vw / 1440);
				}
				&-field {
					height: calc(52 * 100vw / 1440);
					border-radius: calc(5 * 100vw / 1440);
					padding: calc(14 * 100vw / 1440) calc(14 * 100vw / 1440) calc(13 * 100vw / 1440) calc(18 * 100vw / 1440);
					&-value {
						@include font-ubuntu(400, calc(14 * 100vw / 1440), calc(25 * 100vw / 1440));
					}
					&-arrow {
						width: calc(13 * 100vw / 1440);
						height: calc(8 * 100vw / 1440);
					}
					&-input {
						@include font-ubuntu(400, calc(14 * 100vw / 1440), calc(25 * 100vw / 1440));
					}
					&-location {
						width: calc(12 * 100vw / 1440);
						height: calc(16 * 100vw / 1440);

					}
				}
				&-menu {
					top: calc(47 * 100vw / 1440);
					border-radius: calc(5 * 100vw / 1440);
					padding: calc(5 * 100vw / 1440) calc(14 * 100vw / 1440) calc(13 * 100vw / 1440) calc(18 * 100vw / 1440);
					&-item {
						@include font-ubuntu(400, calc(14 * 100vw / 1440), calc(25 * 100vw / 1440));
					}
				}
			}
			&-thumbs {
				grid-column-gap: calc(20 * 100vw / 1440);
				grid-row-gap: calc(15 * 100vw / 1440);
				&-sublabel {
					@include font-ubuntu(400, calc(14 * 100vw / 1440), calc(25 * 100vw / 1440));
					margin-bottom: calc(20 * 100vw / 1440);
				}
			}
			&-thumb {
				width: calc(272 * 100vw / 1440);
				height: calc(158 * 100vw / 1440);
				border-radius: calc(5 * 100vw / 1440);
				&-text {
					@include font-ubuntu(700, calc(14 * 100vw / 1440), calc(25 * 100vw / 1440));
					margin-bottom: calc(8 * 100vw / 1440);
				}
				& img {
					width: calc(40 * 100vw / 1440);
					height: calc(37 * 100vw / 1440);
				}
			}
			&-textarea {
				height: calc(182 * 100vw / 1440);
				border-radius: calc(5 * 100vw / 1440);
				@include font-ubuntu(400, calc(14 * 100vw / 1440), calc(25 * 100vw / 1440));
				padding: calc(14 * 100vw / 1440) calc(18 * 100vw / 1440) calc(13 * 100vw / 1440);
			}
			&-switch {
				width: calc(40 * 100vw / 1440);
				height: calc(20 * 100vw / 1440);
				border-radius: calc(10 * 100vw / 1440);
				&-position {
					width: calc(20 * 100vw / 1440);
					height: calc(20 * 100vw / 1440);
				}
			}
			&-inputs {
				width: calc(473 * 100vw / 1440);
				grid-row-gap: calc(11 * 100vw / 1440);
			}
			&-bottom {
				margin-top: calc(38 * 100vw / 1440);
				margin-bottom: calc(93 * 100vw / 1440);
			}
			&-limitation {
				grid-column-gap: calc(15 * 100vw / 1440);
				&-option {
					@include font-ubuntu(500, calc(14 * 100vw / 1440), calc(25 * 100vw / 1440));
				}
				&-description {
					@include font-ubuntu(400, calc(14 * 100vw / 1440), calc(25 * 100vw / 1440));
				}
			}
			&-buttons {
				grid-column-gap: calc(15 * 100vw / 1440);
				& button {
					width: calc(205 * 100vw / 1440);
					height: calc(39 * 100vw / 1440);
					border-radius: calc(5 * 100vw / 1440);
					@include font-ubuntu(400, calc(13 * 100vw / 1440), calc(14 * 100vw / 1440));
				}
			}
		}
		&__success {
			&-info {
				@include font-ubuntu(400, calc(18 * 100vw / 1440), calc(36 * 100vw / 1440));
				margin: calc(60 * 100vw / 1440) auto calc(30 * 100vw / 1440);
			}
			&-buttons {
				margin: calc(30 * 100vw / 1440) auto;
				grid-column-gap: calc(30 * 100vw / 1440);
			}
			&-button {
				width: calc(205 * 100vw / 1440);
				height: calc(39 * 100vw / 1440);
				border-radius: calc(5 * 100vw / 1440);
				@include font-ubuntu(400, calc(14 * 100vw / 1440), calc(14 * 100vw / 1440));
			}
		}
	}
}

@media screen and (max-width: 992px) {
	.create-product {
		&__form {
			&-blocks {
				grid-row-gap: calc(12 * 100vw / 320);
			}
			&-block {
				width: calc(280 * 100vw / 320);
				padding-left: calc(17 * 100vw / 320);
				padding-right: calc(17 * 100vw / 320);
				border-radius: calc(11 * 100vw / 320);
				&-error {
					top: calc(10 * 100vw / 320);
					@include font-ubuntu(400, calc(12 * 100vw / 320), calc(12 * 100vw / 320));
					&-category {
						top: calc(150 * 100vw / 320);
					}
					&-save {
						top: calc(-1 * 20 * 100vw / 320);
					}
				}
				&-main {
					padding-top: calc(19 * 100vw / 320);
					padding-bottom: calc(19 * 100vw / 320);
				}
				&-images {
					padding-top: calc(24 * 100vw / 320);
					padding-bottom: calc(26 * 100vw / 320);
				}
				&-description {
					padding-top: calc(24 * 100vw / 320);
					padding-bottom: calc(22 * 100vw / 320);
				}
				&-price {
					padding-top: calc(30 * 100vw / 320);
					padding-bottom: calc(42 * 100vw / 320);
					flex-direction: column;
					grid-row-gap: calc(17 * 100vw / 320);
				}
				&-item {
					&-negotiable {
						margin-top: 0;
						grid-column-gap: calc(16 * 100vw / 320);
					}
				}
				&-location {
					padding-top: calc(29 * 100vw / 320);
					padding-bottom: calc(49 * 100vw / 320);
				}
				&-contacts {
					padding-top: calc(33 * 100vw / 320);
					padding-bottom: calc(27 * 100vw / 320);
				}
			}
			&-label {
				@include font-ubuntu(700, calc(14 * 100vw / 320), calc(25 * 100vw / 320));
				color: $color_black;
				margin-bottom: calc(10 * 100vw / 320);
				&-inline {
					margin-bottom: 0;
				}
			}
			&-field {
				width: 100%;
				height: calc(52 * 100vw / 320);
				border-radius: calc(5 * 100vw / 320);
				padding: calc(14 * 100vw / 320) calc(18 * 100vw / 320) calc(13 * 100vw / 320);
				@include font-ubuntu(400, calc(14 * 100vw / 320), calc(25 * 100vw / 320));
				&-price {
					width: 100%;
				}
			}
			&-hint {
				@include font-ubuntu(400, calc(12 * 100vw / 320), calc(25 * 100vw / 320));
				margin-top: calc(4 * 100vw / 320);
			}
			&-name {
				width: 100%;
				margin-bottom: calc(25 * 100vw / 320);
			}
			&-selects {
				grid-column-gap: calc(20 * 100vw / 320);
				grid-row-gap: calc(12 * 100vw / 320);
			}
			&-select {
				width: 100%;
				&-location {
					width: 100%;
				}
				&-field {
					width: 100%;
					height: calc(52 * 100vw / 320);
					border-radius: calc(5 * 100vw / 320);
					padding: calc(14 * 100vw / 320) calc(14 * 100vw / 320) calc(13 * 100vw / 320) calc(18 * 100vw / 320);
					&-value {
						@include font-ubuntu(400, calc(14 * 100vw / 320), calc(25 * 100vw / 320));
					}
					&-arrow {
						width: calc(13 * 100vw / 320);
						height: calc(8 * 100vw / 320);
					}
					&-input {
						@include font-ubuntu(400, calc(14 * 100vw / 320), calc(25 * 100vw / 320));
					}
					&-location {
						width: calc(12 * 100vw / 320);
						height: calc(16 * 100vw / 320);
					}
				}
				&-menu {
					top: calc(47 * 100vw / 320);
					border-radius: calc(5 * 100vw / 320);
					padding: calc(5 * 100vw / 320) calc(14 * 100vw / 320) calc(13 * 100vw / 320) calc(18 * 100vw / 320);
					&-item {
						@include font-ubuntu(400, calc(14 * 100vw / 320), calc(25 * 100vw / 320));
					}
				}
			}
			&-thumbs {
				grid-column-gap: calc(20 * 100vw / 320);
				grid-row-gap: calc(9 * 100vw / 320);
				&-sublabel {
					@include font-ubuntu(400, calc(14 * 100vw / 320), calc(22 * 100vw / 320));
					margin-bottom: calc(28 * 100vw / 320);
				}
			}
			&-thumb {
				width: calc(113 * 100vw / 320);
				height: calc(77 * 100vw / 320);
				border-radius: calc(5 * 100vw / 320);
				&-text {
					@include font-ubuntu(500, calc(12 * 100vw / 320), calc(25 * 100vw / 320));
					margin-bottom: calc(8 * 100vw / 320);
				}
				& img {
					width: calc(28 * 100vw / 320);
					height: calc(26 * 100vw / 320);
				}
			}
			&-textarea {
				width: calc(246 * 100vw / 320);
				height: calc(182 * 100vw / 320);
				border-radius: calc(5 * 100vw / 320);
				@include font-ubuntu(400, calc(12 * 100vw / 320), calc(20 * 100vw / 320));
				padding: calc(14 * 100vw / 320) calc(18 * 100vw / 320) calc(13 * 100vw / 320);
			}
			&-switch {
				width: calc(40 * 100vw / 320);
				height: calc(20 * 100vw / 320);
				border-radius: calc(10 * 100vw / 320);
				&-position {
					width: calc(20 * 100vw / 320);
					height: calc(20 * 100vw / 320);
				}
			}
			&-inputs {
				width: calc(246 * 100vw / 320);
				grid-row-gap: calc(11 * 100vw / 320);
			}
			&-bottom {
				margin-top: calc(16 * 100vw / 320);
				margin-bottom: calc(51 * 100vw / 320);
				flex-direction: column;
				grid-row-gap: calc(23 * 100vw / 320);
			}
			&-limitation {
				grid-column-gap: calc(15 * 100vw / 320);
				flex-wrap: wrap;
				grid-row-gap: calc(12 * 100vw / 320);
				&-option {
					@include font-ubuntu(500, calc(14 * 100vw / 320), calc(25 * 100vw / 320));
				}
				&-description {
					@include font-ubuntu(400, calc(14 * 100vw / 320), calc(25 * 100vw / 320));
				}
			}
			&-buttons {
				flex-direction: column;
				grid-row-gap: calc(8 * 100vw / 320);
				& button {
					width: calc(205 * 100vw / 320);
					height: calc(39 * 100vw / 320);
					border-radius: calc(5 * 100vw / 320);
					@include font-ubuntu(400, calc(13 * 100vw / 320), calc(14 * 100vw / 320));
				}
			}
		}
		&__success {
			&-info {
				@include font-ubuntu(400, calc(18 * 100vw / 320), calc(36 * 100vw / 320));
				margin: calc(60 * 100vw / 320) auto calc(30 * 100vw / 320);
			}
			&-buttons {
				margin: calc(30 * 100vw / 320) auto;
				grid-column-gap: calc(30 * 100vw / 320);
			}
			&-button {
				width: calc(205 * 100vw / 320);
				height: calc(39 * 100vw / 320);
				border-radius: calc(5 * 100vw / 320);
				@include font-ubuntu(400, calc(14 * 100vw / 320), calc(14 * 100vw / 320));
			}
		}
	}
}
