@import '@/assets/styles/_variables.scss';
@import '@/assets/styles/_mixins.scss';

.profile {
	&__wrap {
		grid-column-gap: 24px;
		min-height: 736px;
	}
	&-sidebar {
		width: 221px;
		height: 560px;
		margin-top: 7px;
		background: #F4F4F4;
		border-radius: 11px;
		&__top {
			margin-top: 22px;
			margin-left: 14px;
			grid-column-gap: 15px;
			&-avatar {
				width: 51px;
				height: 51px;
				background: #D9D9D9;
				border-radius: 100%;
				&-icon {
					width: 17px;
					height: 17px;
				}
			}
			&-username {
				@include font-ubuntu(400, 15px, 231.9%);
				color: #000000;
			}
		}
		&__menu {
			margin-top: 27px;
			&-item {
				padding-left: 14px;
				position: relative;
				height: 20px;
				cursor: pointer;
				&-marker {
					position: absolute;
					left: 0;
					width: 2px;
					height: 20px;
					background: $color_green;
				}
				&-icon {
					&-user {
						@include box(12px, 12px);
						margin-right: 14px;
					}
					&-ad {
						@include box(15px, 15px);
						margin-right: 11px;
					}
					&-logout {
						@include box(14px, 14px);
						margin-right: 12px;
					}
				}
				&-title {
					@include font-ubuntu(400, 14px, 100%);
					color: $color_black;
				}
			}
			&-subitems {
				margin-top: 15px;
				margin-left: 48px;
				margin-bottom: 35.5px;
				grid-row-gap: 16px;
			}
			&-subitem {
				cursor: pointer;
				&-title {
					@include font-ubuntu(400, 14px, 100%);
					color: #484848;
				}
				&-children {
					margin-top: 15px;
					grid-row-gap: 17.7px;
				}
				&-child {
					padding-left: 19px;
					position: relative;
					cursor: pointer;
					color: #484848;
					&-marker {
						position: absolute;
						top: 1.5px;
						left: 5px;
						width: 2px;
						height: 11px;
						background: $color_green;
					}
					&-title {
						@include font-ubuntu(400, 14px, 100%);
					}
					&-active {
						color: $color_green;
					}
					&:hover {
						color: $color_green;
					}
					&:hover &-marker{
						display: block!important;
					}
				}
			}
		}
	}
	&-menu {
		display: none;
	}
}

.complete-register {
	&__title {
		margin: 0;
		@include font-ubuntu(500, 32px, 37px);
		color: $color_black;
	}
	&__form {
		margin: 27px 0 41px;
		width: 955px;
		// height: 371px;
		background: #F4F4F4;
		border-radius: 11px;
		padding: 30px 35px 37px;
		box-sizing: border-box;
		position: relative;
		&-error {
			position: absolute;
			top: 15px;
			width: 100%;
			text-align: center;
			@include font-ubuntu(400, 14px, 14px);
			color: red;
		}
		&-label {
			@include font-ubuntu(500, 14px, 195.9%);
			color: #262626;
			&-disabled {
				color: #676767;
			}
		}
		&-required {
			color: red;
		}
		&-field {
			width: 224px;
			height: 34px;
			box-sizing: border-box;
			background: $color_white;
			border-radius: 3px;
			padding: 3px 11px 4px;
			border: none;
			@include font-ubuntu(400, 14px, 195.9%);
			color: $color_black;
		}
		&-customer {
			grid-column-gap: 27px;
			&-name {
				grid-row-gap: 10px;
			}
			&-type {
				grid-column-gap: 17px;
				margin-bottom: 3.3px;
				&-item {
					grid-column-gap: 8px;
					&-switch {
						@include box(15px, 15px);
						background: $color_white;
						border-radius: 3px;
  						position: relative;
  						& input {  							
							position: absolute;
							width: 0;
							height: 0;
							opacity: 0;
							cursor: pointer;
  						}
  						& img {
  							display: none;
						}
						& input:checked ~ img {
							display: block;
						}
					}
					& label {
						@include font-ubuntu(400, 14px, 195.9%);
						color: #262626;
					}
				}
			}
		}
		&-phone {
			margin-top: 16px;
			grid-column-gap: 9px;
			&-specify {
				grid-row-gap: 13px;
			}
			&-submit {
				width: 123px;
				height: 34px;
				background: $color_green;
				border-radius: 3px;
				border: none;
				@include font-ubuntu(500, 12px, 14px);
				color: $color_white;
			}
		}
		&-email {
			margin-top: 12px;
			&-specified {
				// grid-row-gap: 10px;
				&-value {
					@include font-ubuntu(500, 14px, 195.9%);
					color: #262626;

				}
			}
		}
		&-password {
			margin-top: 17px;
			grid-column-gap: 27px;
			&-specify {
				grid-row-gap: 10px;
			}
			&-confirm {
				grid-row-gap: 10px;
			}
		}
	}
	&__success {
		margin: 25px 0;
		@include font-ubuntu(400, 18px, 36px);
		color: $color_black;
	}
	&__buttons {
		grid-column-gap: 14px;
	}
	&__button {
		width: 131px;
		height: 41px;
		border-radius: 8px;
		@include font-ubuntu(500, 12px, 14px);
		&-save {
			background: $color_green;
			border: none;
			color: $color_white;
		}
		&-cancel {
			background: transparent;
			border: 1px solid $color_green;
			color: $color_black;
		}
	}
}

.preferences {
	&__title {
		margin: 0;
		@include font-ubuntu(500, 32px, 37px);
		color: $color_black;
	}
	&__form {
		margin: 27px 0 41px;
		width: 955px;
		// height: 371px;
		background: #F4F4F4;
		border-radius: 11px;
		padding: 30px 35px 37px;
		box-sizing: border-box;
		position: relative;
		&-avatar {
			display: none;
		}
		&-columns {
			grid-column-gap: 34px;
		}
		&-field {
			&-label {
				@include font-ubuntu(500, 14px, 195.9%);
				color: #676767;
			}
			&-value {
				@include font-ubuntu(500, 14px, 195.9%);
				color: $color_black;
				&-edit {
					@include box(11px, 11px);
					margin-left: 11px;
					cursor: pointer;
				}
			}
			&-input {
				width: 224px;
				height: 34px;
				background: #FFFFFF;
				border-radius: 3px;
				padding: 3px 12px 4px;
				@include font-ubuntu(400, 14px, 195.9%);
				border: none;
				box-shadow: none;
				outline: none;
			}
		}
		&-error {
			position: absolute;
			bottom: -25px;
			width: 100%;
			@include font-ubuntu(400, 14px, 14px);
			color: red;
		}
	}
	&__buttons {
		grid-column-gap: 14px;
	}
	&__button {
		width: 131px;
		height: 41px;
		border-radius: 8px;
		@include font-ubuntu(500, 12px, 14px);
		&-save {
			background: $color_green;
			border: none;
			color: $color_white;
		}
		&-cancel {
			background: transparent;
			border: 1px solid $color_green;
			color: $color_black;
		}
	}
}

.profile-products {
	width: 955px;
	margin-bottom: 215px;
	&__top {
		width: 100%;
		grid-row-gap: 17px;
		margin-bottom: 28px;
		&-line {
			width: 100%;
		}
		&-search {
			width: 588px;
			height: 47px;
			background: $color_white;
			border: 1px solid #E2E2E2;
			border-radius: 8px;
			padding: 3px;
			&-field {
				width: 100%;
				height: 100%;
				box-sizing: border-box;
				flex: 1;
				border: none;
				padding: 15px 20px 17px;
		    	@include font-ubuntu(400, 14px, 15px);
			}
			&-button {
				width: 41px;
				height: 41px;
				background: $color_green;
				border-radius: 6px;
				border: none;
				box-shadow: none;
				outline: none;
				& img {
					@include box(21px, 21px);
				}
			}
		}
		&-sort {
		    @include font-ubuntu(400, 14px, 15px);
		    &-label {
		    	color: #414141;
		    }
		    &-value {
		    	color: $color_green;
		    	border-bottom: 1px dashed $color_green;
		    	cursor: pointer;
		    }
		}
	}
	&__title {
		margin: 0;
		@include font-ubuntu(500, 32px, 37px);
		color: $color_black;
	}
	&__add-btn {
		width: 182px;
		height: 41px;
		background: $color_green;
		border-radius: 8px;
		@include font-ubuntu(500, 12px, 14px);
		color: $color_white;
		border: none;
		box-shadow: none;
		outline: none;
	}
	&__list {
		grid-row-gap: 20px;
		margin-bottom: 55px;
	}
}

.profile-product {
	width: 100%;
	height: 117px;
	background: #F4F4F4;
	border-radius: 11px;
	position: relative;
	&__left {
		grid-column-gap: 16px;
		height: 100%;
	}
	&__image {
		width: 126px;
		height: 94px;
		border-radius: 5px;
		margin-top: 11px;
		margin-left: 12px;
		object-fit: cover;
		object-position: center;
	}
	&__info {
		height: 100%;
		&-title {
			@include font-ubuntu(500, 20px, 46px);
			color: $color_green;
			overflow: hidden;
			text-overflow: ellipsis;
			max-width: 300px;
			white-space: nowrap;
		}
		&-price {
			@include font-ubuntu(500, 15px, 15px);
			color: $color_black;
		}
		&-stats {
			grid-column-gap: 27px;
			margin-bottom: 10px;
			&-item {
				grid-column-gap: 8px;
				&-value {
					@include font-ubuntu(400, 14px, 15px);
					color: $color_black;
				}
			}
		}
	}
	&__right {
		margin-right: 64px;
		grid-row-gap: 20px;
		height: 100%;
	}
	&__buttons {
		grid-column-gap: 10px;
		height: 41px;
	}
	&__status {
		// width: 159px;
		height: 41px;
		grid-column-gap: 8px;
		border-radius: 8px;
		border: none;
		padding: 0 20px;
		background: #EAEAEA;
		&-bordered {
			border: 1px solid #39BC64;
		}
		&-text {
			@include font-ubuntu(400, 14px, 15px);
			color: rgba(0, 0, 0, 0.48);
		}
	}
	&__publish {
		width: 177px;
		height: 41px;
		background: $color_green;
		border-radius: 8px;
		@include font-ubuntu(500, 12px, 14px);
		color: $color_white;
		border: none;
		box-shadow: none;
		outline: none;
	}
	&__links {
		grid-column-gap: 48px;
		&-item {
			grid-column-gap: 10px;
			&-icon {
				@include box(13px, 13px);
			}
			&-text {
				@include font-ubuntu(400, 14px, 15px);
				text-decoration-line: underline;
				color: #282828;
				cursor: pointer;
			}
		}
	}
	&__options {
		position: absolute;
		top: 9px;
		right: 9px;
		&-menu {
			position: relative;
			&-button {
				width: 26px;
				height: 26px;
				background: #EAEAEA;
				border: 1px solid $color_green;
				border-radius: 4px;
				grid-row-gap: 2px;
				box-shadow: none;
				outline: none;
				&-dot {
					width: 2px;
					height: 2px;
					background: #A7A7A7;
				}
			}
			&-dropdown {
				position: absolute;
				z-index: 2;
				top: 33px;
				right: 0;
				width: 170px;
				// height: 145px;
				background: $color_white;
				box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
				border-radius: 4px;
				padding-left: 15px;
				&-link {
					@include font-ubuntu(400, 14px, 36.25px);
					color: #353535;
					cursor: pointer;
				}
			}
		}
	}
}

@media screen and (max-width: 1440px) {
	.profile {
		&__wrap {
			grid-column-gap: calc(24 * 100vw / 1440);
			min-height: calc(736 * 100vw / 1440);
		}
		&-sidebar {
			width: calc(221 * 100vw / 1440);
			height: calc(560 * 100vw / 1440);
			margin-top: calc(7 * 100vw / 1440);
			border-radius: calc(11 * 100vw / 1440);
			&__top {
				margin-top: calc(22 * 100vw / 1440);
				margin-left: calc(14 * 100vw / 1440);
				grid-column-gap: calc(15 * 100vw / 1440);
				&-avatar {
					width: calc(51 * 100vw / 1440);
					height: calc(51 * 100vw / 1440);
					&-icon {
						width: calc(17 * 100vw / 1440);
						height: calc(17 * 100vw / 1440);
					}
				}
				&-username {
					@include font-ubuntu(400, calc(15 * 100vw / 1440), 231.9%);
				}
			}
			&__menu {
				margin-top: calc(27 * 100vw / 1440);
				&-item {
					padding-left: calc(14 * 100vw / 1440);
					height: calc(20 * 100vw / 1440);
					&-marker {
						width: calc(2 * 100vw / 1440);
						height: calc(20 * 100vw / 1440);
					}
					&-icon {
						&-user {
							@include box(calc(12 * 100vw / 1440), calc(12 * 100vw / 1440));
							margin-right: calc(14 * 100vw / 1440);
						}
						&-ad {
							@include box(calc(15 * 100vw / 1440), calc(15 * 100vw / 1440));
							margin-right: calc(11 * 100vw / 1440);
						}
						&-logout {
							@include box(calc(14 * 100vw / 1440), calc(14 * 100vw / 1440));
							margin-right: calc(12 * 100vw / 1440);
						}
					}
					&-title {
						@include font-ubuntu(400, calc(14 * 100vw / 1440), 100%);
					}
				}
				&-subitems {
					margin-top: calc(15 * 100vw / 1440);
					margin-left: calc(48 * 100vw / 1440);
					margin-bottom: calc(35.5 * 100vw / 1440);
					grid-row-gap: calc(16 * 100vw / 1440);
				}
				&-subitem {
					&-title {
						@include font-ubuntu(400, calc(14 * 100vw / 1440), 100%);
					}
					&-children {
						margin-top: calc(15 * 100vw / 1440);
						grid-row-gap: calc(17.7 * 100vw / 1440);
					}
					&-child {
						padding-left: calc(19 * 100vw / 1440);
						&-marker {
							top: calc(1.5 * 100vw / 1440);
							left: calc(5 * 100vw / 1440);
							width: calc(2 * 100vw / 1440);
							height: calc(11 * 100vw / 1440);
						}
						&-title {
							@include font-ubuntu(400, calc(14 * 100vw / 1440), 100%);
						}
					}
				}
			}
		}
	}

	.complete-register {
		&__title {
			@include font-ubuntu(500, calc(32 * 100vw / 1440), calc(37 * 100vw / 1440));
		}
		&__form {
			margin: calc(27 * 100vw / 1440) 0 calc(41 * 100vw / 1440);
			width: calc(955 * 100vw / 1440);
			// height: calc(371 * 100vw / 1440);
			border-radius: calc(11 * 100vw / 1440);
			padding: calc(30 * 100vw / 1440) calc(35 * 100vw / 1440) calc(37 * 100vw / 1440);
			&-error {
				top: calc(15 * 100vw / 1440);
				@include font-ubuntu(400, calc(14 * 100vw / 1440), calc(14 * 100vw / 1440));
			}
			&-label {
				@include font-ubuntu(500, calc(14 * 100vw / 1440), 195.9%);
			}
			&-field {
				width: calc(224 * 100vw / 1440);
				height: calc(34 * 100vw / 1440);
				border-radius: calc(3 * 100vw / 1440);
				padding: calc(3 * 100vw / 1440) calc(11 * 100vw / 1440) calc(4 * 100vw / 1440);
				@include font-ubuntu(400, calc(14 * 100vw / 1440), 195.9%);
			}
			&-customer {
				grid-column-gap: calc(27 * 100vw / 1440);
				&-name {
					grid-row-gap: calc(10 * 100vw / 1440);
				}
				&-type {
					grid-column-gap: calc(17 * 100vw / 1440);
					margin-bottom: calc(3.3 * 100vw / 1440);
					&-item {
						grid-column-gap: calc(8 * 100vw / 1440);
						&-switch {
							@include box(calc(15 * 100vw / 1440), calc(15 * 100vw / 1440));
							border-radius: calc(3 * 100vw / 1440);
						}
						& label {
							@include font-ubuntu(400, calc(14 * 100vw / 1440), 195.9%);
						}
					}
				}
			}
			&-phone {
				margin-top: calc(16 * 100vw / 1440);
				grid-column-gap: calc(9 * 100vw / 1440);
				&-specify {
					grid-row-gap: calc(13 * 100vw / 1440);
				}
				&-submit {
					width: calc(123 * 100vw / 1440);
					height: calc(34 * 100vw / 1440);
					border-radius: calc(3 * 100vw / 1440);
					@include font-ubuntu(500, calc(12 * 100vw / 1440), calc(14 * 100vw / 1440));
				}
			}
			&-email {
				margin-top: calc(12 * 100vw / 1440);
				&-specified {
					// grid-row-gap: calc(10 * 100vw / 1440);
					&-value {
						@include font-ubuntu(500, calc(14 * 100vw / 1440), 195.9%);

					}
				}
			}
			&-password {
				margin-top: calc(17 * 100vw / 1440);
				grid-column-gap: calc(27 * 100vw / 1440);
				&-specify {
					grid-row-gap: calc(10 * 100vw / 1440);
				}
				&-confirm {
					grid-row-gap: calc(10 * 100vw / 1440);
				}
			}
		}
		&__buttons {
			grid-column-gap: calc(14 * 100vw / 1440);
		}
		&__button {
			width: calc(131 * 100vw / 1440);
			height: calc(41 * 100vw / 1440);
			border-radius: calc(8 * 100vw / 1440);
			@include font-ubuntu(500, calc(12 * 100vw / 1440), calc(14 * 100vw / 1440));
		}
	}

	.preferences {
		&__title {
			@include font-ubuntu(500, calc(32 * 100vw / 1440), calc(37 * 100vw / 1440));
		}
		&__form {
			margin: calc(27 * 100vw / 1440) 0 calc(41 * 100vw / 1440);
			width: calc(955 * 100vw / 1440);
			// height: calc(371 * 100vw / 1440);
			border-radius: calc(11 * 100vw / 1440);
			padding: calc(30 * 100vw / 1440) calc(35 * 100vw / 1440) calc(37 * 100vw / 1440);
			&-columns {
				grid-column-gap: calc(34 * 100vw / 1440);
			}
			&-field {
				&-label {
					@include font-ubuntu(500, calc(14 * 100vw / 1440), 195.9%);
				}
				&-value {
					@include font-ubuntu(500, calc(14 * 100vw / 1440), 195.9%);
					&-edit {
						@include box(calc(11 * 100vw / 1440), calc(11 * 100vw / 1440));
						margin-left: calc(11 * 100vw / 1440);
					}
				}
				&-input {
					width: calc(224 * 100vw / 1440);
					height: calc(34 * 100vw / 1440);
					border-radius: calc(3 * 100vw / 1440);
					padding: calc(3 * 100vw / 1440) calc(12 * 100vw / 1440) calc(4 * 100vw / 1440);
					@include font-ubuntu(400, calc(14 * 100vw / 1440), 195.9%);
				}
			}
			&-error {
				bottom: calc(-25 * 100vw / 1440);
				@include font-ubuntu(400, calc(14 * 100vw / 1440), calc(14 * 100vw / 1440));
			}
		}
		&__buttons {
			grid-column-gap: calc(14 * 100vw / 1440);
		}
		&__button {
			width: calc(131 * 100vw / 1440);
			height: calc(41 * 100vw / 1440);
			border-radius: calc(8 * 100vw / 1440);
			@include font-ubuntu(500, calc(12 * 100vw / 1440), calc(14 * 100vw / 1440));
		}
	}

}

@media screen and (max-width: 414px) {

	.profile {
		&__wrap {
			grid-column-gap: calc(24 * 100vw / 320);
			min-height: unset;
		}
		&-sidebar {
			display: none;
		}
		&-menu {
			display: block;
			position: relative;
			margin-top: calc(20 * 100vw / 320);
			&__button {
				width: calc(280 * 100vw / 320);
				height: calc(41 * 100vw / 320);
				background: $color_green;
				border-radius: calc(8 * 100vw / 320);
				grid-column-gap: calc(14 * 100vw / 320);
				cursor: pointer;
				&-icon {
					width: calc(14 * 100vw / 320);
					grid-row-gap: calc(3 * 100vw / 320);
					& img {
						width: 100%;
						height: calc(2 * 100vw / 320);
					}
				}
				&-title {
					@include font-ubuntu(500, calc(12 * 100vw / 320), calc(14 * 100vw / 320));
					color: $color_white;
				}
			}			
		}
	}

	.complete-register {
		margin-bottom: calc(45 * 100vw / 320);
		&__title {
			margin: 0;
			@include font-ubuntu(500, calc(18 * 100vw / 320), calc(21 * 100vw / 320));
		}
		&__form {
			margin: calc(17 * 100vw / 320) 0 calc(28 * 100vw / 320);
			width: calc(280 * 100vw / 320);
			// height: 371 * 100vw / 320);
			border-radius: calc(11 * 100vw / 320);
			padding: calc(11 * 100vw / 320) calc(15 * 100vw / 320) calc(25 * 100vw / 320);
			&-error {
				top: calc(5 * 100vw / 320);
				@include font-ubuntu(400, calc(10 * 100vw / 320), calc(10 * 100vw / 320));
			}
			&-label {
				@include font-ubuntu(500, calc(14 * 100vw / 320), 195.9%);
			}
			&-field {
				width: calc(249 * 100vw / 320);
				height: calc(34 * 100vw / 320);
				border-radius: calc(3 * 100vw / 320);
				padding: calc(3 * 100vw / 320) calc(11 * 100vw / 320) calc(4 * 100vw / 320);
				@include font-ubuntu(400, calc(14 * 100vw / 320), 195.9%);
			}
			&-customer {
				flex-direction: column;
				grid-row-gap: calc(8 * 100vw / 320);
				&-name {
					grid-row-gap: calc(10 * 100vw / 320);
				}
				&-type {
					grid-column-gap: calc(17 * 100vw / 320);
					margin-bottom: calc(3.3 * 100vw / 320);
					&-item {
						grid-column-gap: calc(8 * 100vw / 320);
						&-switch {
							@include box(calc(15 * 100vw / 320), calc(15 * 100vw / 320));
							border-radius: calc(3 * 100vw / 320);
						}
						& label {
							@include font-ubuntu(400, calc(14 * 100vw / 320), 195.9%);
						}
					}
				}
			}
			&-phone {
				margin-top: calc(20 * 100vw / 320);
				flex-direction: column;
				grid-row-gap: calc(13 * 100vw / 320);
				&-specify {
					grid-row-gap: calc(13 * 100vw / 320);
				}
				&-submit {
					width: calc(123 * 100vw / 320);
					height: calc(34 * 100vw / 320);
					border-radius: calc(3 * 100vw / 320);
					@include font-ubuntu(500, calc(12 * 100vw / 320), calc(14 * 100vw / 320));
				}
			}
			&-email {
				margin-top: calc(22 * 100vw / 320);
				&-specified {
					// grid-row-gap: 10 * 100vw / 320);
					&-value {
						@include font-ubuntu(500, calc(14 * 100vw / 320), 195.9%);
					}
				}
			}
			&-password {
				margin-top: calc(17 * 100vw / 320);
				flex-direction: column;
				grid-row-gap: calc(10 * 100vw / 320);
				&-specify {
					grid-row-gap: calc(10 * 100vw / 320);
				}
				&-confirm {
					grid-row-gap: calc(10 * 100vw / 320);
				}
			}
		}
		&__success {
			margin: calc(25 * 100vw / 320) 0;
			@include font-ubuntu(400, calc(18 * 100vw / 320), calc(36 * 100vw / 320));
			color: $color_black;
		}
		&__buttons {
			grid-column-gap: calc(14 * 100vw / 320);
		}
		&__button {
			width: calc(131 * 100vw / 320);
			height: calc(41 * 100vw / 320);
			border-radius: calc(8 * 100vw / 320);
			@include font-ubuntu(500, calc(12 * 100vw / 320), calc(14 * 100vw / 320));
			&-save {
				background: $color_green;
				border: none;
				color: $color_white;
			}
			&-cancel {
				background: transparent;
				border: 1px solid $color_green;
				color: $color_black;
			}
		}
	}

	.preferences {
		margin-bottom: calc(45 * 100vw / 320);
		&__title {
			margin: 0;
			@include font-ubuntu(500, calc(18 * 100vw / 320), calc(21 * 100vw / 320));
		}
		&__form {
			margin: calc(17 * 100vw / 320) 0 calc(28 * 100vw / 320);
			width: calc(280 * 100vw / 320);
			// height: 371 * 100vw / 320);
			border-radius: calc(11 * 100vw / 320);
			padding: calc(11 * 100vw / 320) calc(15 * 100vw / 320) calc(25 * 100vw / 320);
			flex-direction: column;
			&-avatar {
				display: flex;
				width: 100%;
				margin: calc(9 * 100vw / 320) 0 calc(20 * 100vw / 320);
				&-wrap {
					width: calc(73 * 100vw / 320);
					height: calc(73 * 100vw / 320);
					border-radius: 100%;
					background: #D9D9D9;
				}
				&-icon {
					@include box(calc(25 * 100vw / 320), calc(25 * 100vw / 320));
				}
			}
			&-columns {
				flex-direction: column;
			}
			&-field {
				&-label {
					@include font-ubuntu(500, calc(14 * 100vw / 320), 195.9%);
				}
				&-value {
					@include font-ubuntu(500, calc(14 * 100vw / 320), 195.9%);
					&-edit {
						@include box(calc(11 * 100vw / 320), calc(11 * 100vw / 320));
						margin-left: calc(11 * 100vw / 320);
					}
				}
				&-input {
					width: calc(242 * 100vw / 320);
					height: calc(34 * 100vw / 320);
					border-radius: calc(3 * 100vw / 320);
					padding: calc(3 * 100vw / 320) calc(12 * 100vw / 320) calc(4 * 100vw / 320);
					@include font-ubuntu(400, calc(14 * 100vw / 320), 195.9%);
				}
			}
			&-error {
				bottom: calc(-25 * 100vw / 320);
				@include font-ubuntu(400, calc(14 * 100vw / 320), calc(14 * 100vw / 320));
			}
		}
		&__buttons {
			grid-column-gap: calc(14 * 100vw / 320);
		}
		&__button {
			width: calc(131 * 100vw / 320);
			height: calc(41 * 100vw / 320);
			border-radius: calc(8 * 100vw / 320);
			@include font-ubuntu(500, calc(12 * 100vw / 320), calc(14 * 100vw / 320));
			&-save {
				background: $color_green;
				border: none;
				color: $color_white;
			}
			&-cancel {
				background: transparent;
				border: 1px solid $color_green;
				color: $color_black;
			}
		}
	}
}